@model ODK.Web.Razor.Models.Members.MemberImageViewModel
@{
    string imageUrl = $"/{Model.Chapter.Name}/Members/{Model.Member.Id}/Image";
    if (Model.MaxWidth > 0)
    {
        imageUrl += $"?size={Model.MaxWidth}";
    }
}

<div style="@(Model.ImageHeight > 0 ? $"height: {Model.ImageHeight}px" : null)" class="d-flex align-items-end justify-content-center">
    <img style="@(Model.MaxWidth > 0 ? $"max-width: {Model.MaxWidth}px" : null)"
         class="@(Model.IsTop ? "card-img-top" : "card-img")" 
         src="@imageUrl" 
         alt="Photo of @Model.Member.FullName" />
</div>