@using ODK.Core.Chapters
@using ODK.Core.Utils
@using ODK.Services.Chapters.ViewModels
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Admin
@model ChapterConversationsAdminPageViewModel
@inject IOdkRoutes OdkRoutes

<p>Contact messages sent by logged in users</p>

<p>
    Your <a href="@OdkRoutes.GroupAdmin.GroupPrivacy(Model.Chapter)">privacy settings</a> currently allow
    @switch (Model.PrivacySettings?.Conversations)
    {
        case null:
        case ChapterFeatureVisibilityType.Public:
            @: anyone logged in
            break;
        case ChapterFeatureVisibilityType.ActiveMembers:
            @: active members
            break;
        case ChapterFeatureVisibilityType.AllMembers:
            @: all members
            break;
    }

    to start conversations.
</p>

@await Html.PartialAsync("Admin/Chapter/Conversations/_ConversationsAdminTabs")

@if (Model.Conversations.Count > 0)
{
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>From</th>
                    <th>Subject</th>
                    <th>Started</th>
                    <th>Last message</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var dto in Model.Conversations.OrderByDescending(x => x.LastMessage.CreatedUtc))
                {
                    var conversation = dto.Conversation;

                    <tr>
                        <td>
                            @if (dto.Member.IsMemberOf(Model.Chapter.Id))
                            {
                                <a href="@OdkRoutes.GroupAdmin.Member(Model.Chapter, dto.Member.Id)">
                                    @dto.Member.FullName
                                </a>
                            }
                            else
                            {
                                @dto.Member.FullName
                            }
                        </td>
                        <td>
                            <a href="@OdkRoutes.GroupAdmin.GroupConversation(Model.Chapter, conversation.Id)">
                                @dto.Conversation.Subject
                            </a>
                        </td>
                        <td>@conversation.CreatedUtc.ToFriendlyDateTimeString(Model.Chapter.TimeZone)</td>
                        <td>
                            <div>
                                @dto.LastMessage.CreatedUtc.ToFriendlyDateTimeString(Model.Chapter.TimeZone)
                            </div>
                            @if (dto.LastMessage.MemberId != dto.Conversation.MemberId)
                            {
                                <div>
                                    @dto.LastMessage.Member?.FullName
                                </div>
                            }
                        </td>
                        <td>
                            <a href="@OdkRoutes.GroupAdmin.GroupConversation(Model.Chapter, conversation.Id)">
                                Reply
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p>No conversations</p>
}