@using ODK.Core.Chapters
@using ODK.Services.Authentication
@using ODK.Web.Common.Components
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Razor.Models.Header
@using ODK.Web.Razor.Services
@inject IRequestStore RequestStore
@model AccountMenuViewModel
@{
    var platform = RequestStore.Platform;

    var defaultChapter = Model.CurrentChapter != null && Model.Member != null && Model.Member.IsMemberOf(Model.CurrentChapter.Id)
        ? Model.CurrentChapter
        : Model.MemberChapters.FirstOrDefault();

    var isAdmin = User.IsInRole(OdkRoles.Admin);

    var adminChapterDictionary = Model.AdminChapters
        .ToDictionary(x => x.Id);

    var memberChapterDictionary = Model.MemberChapters
        .ToDictionary(x => x.Id);

    var chapters = Model.MemberChapters
        .Union(Model.AdminChapters)
        .GroupBy(x => x.Id)
        .ToDictionary(x => x.Key, x => x.First())
        .Values
        .OrderBy(x => x.GetDisplayName(platform))
        .ToArray();

}

@if (Model.MemberChapters.Count > 0)
{
    <div class="account-links" role="button">
        <div class="dropdown">
            <div class="text-light account-links__user dropdown-toggle" data-bs-toggle="dropdown">
                @await Html.PartialAsync("Components/_Icon", new IconViewModel(IconType.User))
            </div>
            <div class="dropdown-menu dropdown-menu-end text-end">
                @if (chapters.Length == 1)
                {
                    var chapter = chapters.First();
                    adminChapterDictionary.TryGetValue(chapter.Id, out var adminChapter);
                    memberChapterDictionary.TryGetValue(chapter.Id, out var memberChapter);                    

                    @if (memberChapter != null)
                    {
                        <a class="dropdown-item" href="@OdkRoutes.Account.Index(chapter)">
                            My profile
                        </a>                        
                    }
                    
                    <a class="dropdown-item" href="@OdkRoutes.Groups.Group(platform, chapter)">
                        @chapter.GetDisplayName(platform)
                    </a>

                    <a class="dropdown-item" href="/@chapter.ShortName/Account/Logout">
                        Sign Out
                    </a>
                    
                    @if (adminChapter != null)
                    {
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/@chapter.ShortName/admin/chapter/text">
                            @chapter.GetDisplayName(platform) Admin
                        </a>
                        <a class="dropdown-item" href="/@chapter.ShortName/admin/events/create">Create event</a>
                    }
                }
                else if (chapters.Length > 1)
                {
                    foreach (var chapter in chapters)
                    {
                        adminChapterDictionary.TryGetValue(chapter.Id, out var adminChapter);
                        memberChapterDictionary.TryGetValue(chapter.Id, out var memberChapter);

                        <div class="dropdown dropstart">
                            <div class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown">
                                @chapter.GetDisplayName(platform)
                            </div>
                            <div class="dropdown-menu text-end">
                                <a class="dropdown-item" href="@OdkRoutes.Groups.Group(platform, chapter)">
                                    Home
                                </a>

                                @if (memberChapter != null)
                                {
                                    <a class="dropdown-item" href="@OdkRoutes.Account.Index(chapter)">
                                        My profile
                                    </a>
                                }                                

                                @if (adminChapter != null || Model.Member?.SiteAdmin == true)
                                {
                                    <div class="dropdown-divider"></div>
                                    
                                    <a class="dropdown-item" href="/@chapter.ShortName/Admin/Chapter/Text">Admin</a>
                                    <a class="dropdown-item" href="/@chapter.ShortName/Admin/Events/Create">Create event</a>

                                    if (Model.Member?.SiteAdmin == true)
                                    {
                                        <a class="dropdown-item" href="/@chapter.ShortName/admin/siteadmin">Site admin</a>
                                    }
                                }
                            </div>                            
                        </div>                                                                        
                    }

                    <div class="dropdown-divider"></div>

                    @if (defaultChapter != null)
                    {
                        <a class="dropdown-item" href="/@defaultChapter.ShortName/Account/Logout">Sign Out</a>
                    }                    
                }

                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-theme-selector="dark">Dark mode</a>
                <a class="dropdown-item" href="#" data-theme-selector="light">Light mode</a>                
            
                @if (Model.Member?.SiteAdmin == true)
                {                                        
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="@OdkRoutes.SiteAdmin.Index">Site admin</a>
                }
            </div>
        </div>
    </div>
}