@using ODK.Services.Caching
@using ODK.Web.Common.Components
@using ODK.Web.Razor.Models.Header
@model ODK.Web.Razor.Models.Header.NavbarViewModel
@inject IRequestCache RequestCache
@{
    var accountMenu = new AccountMenuViewModel
    {
        CurrentChapter = Model.Chapter,
        Member = Model.Member,
        MemberChapter = Model.Member != null
            ? Model.Chapter?.Id == Model.Member.ChapterId ? Model.Chapter : await RequestCache.GetChapterAsync(Model.Member.ChapterId)
            : null
    };

    var id = Model.Id ?? "navbar-main";

    var menuGroups = Model.MenuItems;    
}

<nav class="navbar
            @Model.CssClass
            @(Model.IsDark ? "navbar-dark bg-dark" : null)
            @(Model.IsLight ? "navbar-light bg-light" : null)
            @(Model.Breakpoint == "sm" ? "navbar-expand-sm" : null)
            @(Model.Breakpoint == "md" ? "navbar-expand-md" : null)
            @(Model.Breakpoint == "lg" ? "navbar-expand-lg" : null)
            @(Model.Compact ? "navbar-compact" : null)">
    <div class="position-relative
                @(Model.Fluid ? "container-fluid" : "container")">
        <div class="d-flex align-items-center">
            <button class="navbar-toggler @(Model.MenuItems.Length == 0 ? "invisible" : "")" 
                type="button" data-bs-toggle="collapse" data-bs-target="#@id">
                <span class="navbar-toggler-icon"></span>
            </button>

            @if (!Model.HideAccountMenu)
            {
                @await Html.PartialAsync("Header/_AccountMenu", accountMenu)
            }
        </div>

        <div class="collapse navbar-collapse flex-column" id="@id">
            @foreach (var group in menuGroups)
            {
                <ul class="navbar-nav">
                    @foreach (var menuItem in group)
                    {
                        <li class="nav-item @(menuItem.Hidden ? "invisible" : null)">
                            <a class="nav-link"
                               data-menu-link="@(menuItem.ActiveIsExactMatch ? "exact" : null)"
                               href="@(menuItem.Link ?? menuItem.ExternalLink)"
                               target="@(!string.IsNullOrEmpty(menuItem.ExternalLink) ? "_blank" : null)">
                                @if (!string.IsNullOrEmpty(menuItem.Text))
                                {
                                    <span>@menuItem.Text</span>
                                }

                                @if (!string.IsNullOrEmpty(menuItem.Icon))
                                {
                                    <i class="@menuItem.Icon"></i>
                                }
                            </a>
                        </li>
                    }
                </ul>
            }
        </div>
    </div>
</nav>