@using ODK.Core.Chapters
@using ODK.Services.Chapters
@using ODK.Services.Chapters.ViewModels
@using ODK.Web.Common.Services
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Razor.Models.Header
@using ODK.Web.Razor.Services
@model NavbarViewModel
@inject IChapterViewModelService ChapterViewModelService
@inject IRequestStore RequestStore
@{
    AccountMenuChaptersViewModel chaptersViewModel;

    if (RequestStore.CurrentMemberOrDefault != null)
    {
        var request = RequestStore.MemberServiceRequest;
        chaptersViewModel = await ChapterViewModelService.GetAccountMenuChaptersViewModel(request);
    }
    else
    {
        chaptersViewModel = new AccountMenuChaptersViewModel
        {
            AdminChapters = [],
            MemberChapters = []
        };
    }

    var accountMenu = new AccountMenuViewModel
    {
        AdminChapters = chaptersViewModel.AdminChapters,
        CurrentChapter = Model.Chapter,
        Member = Model.Member,
        MemberChapters = chaptersViewModel.MemberChapters
    };

    var id = Model.Id ?? "navbar-main";

    var menuGroups = Model.MenuItems;

    var cssClasses = new List<string>();
    if (!string.IsNullOrEmpty(Model.CssClass))
    {
        cssClasses.Add(Model.CssClass);
    }

    if (Model.IsDark)
    {
        cssClasses.Add("navbar-dark bg-dark");
    }

    if (Model.IsLight)
    {
        cssClasses.Add("navbar-light bg-light text-dark");
    }

    if (Model.Breakpoint == "sm")
    {
        cssClasses.Add("navbar-expand-sm");
    }
    else if (Model.Breakpoint == "md")
    {
        cssClasses.Add("navbar-expand-md");
    }
    else if (Model.Breakpoint == "lg")
    {
        cssClasses.Add("navbar-expand-lg");
    }
}

<nav class="navbar @string.Join(' ', cssClasses)">
    <div class="position-relative @(Model.Fluid ? "container-fluid" : "container")">
        <div class="d-flex align-items-center">
            @if (Model.MenuItems.Any(x => x.MenuItems.Any(y => !y.Hidden)))    
            {
                <button class="navbar-toggler @(Model.MenuItems.Count == 0 ? "invisible" : "")"
                        type="button" data-bs-toggle="collapse" data-bs-target="#@id"
                        aria-controls="@id" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            }            
            
            @if (!Model.HideAccountMenu)
            {
                @if (User.Identity?.IsAuthenticated == true)
                {
                    <div class="d-flex gap-4 account-links--right">
                        @await Html.PartialAsync("Header/_NotificationDropdown")
                        @await Html.PartialAsync("Header/_OdkAccountDropdown", accountMenu)
                    </div>
                }
                else
                {
                    @await Html.PartialAsync("Header/_AnonymousLinks")
                }
            }
        </div>

        <div class="collapse navbar-collapse flex-column" id="@id">
            @for (var i = 0; i < Model.MenuItems.Count; i++)
            {
                var group = Model.MenuItems.ElementAt(i);

                if (i > 0)
                {
                    <hr/>
                }

                if (!string.IsNullOrEmpty(group.Title))
                {
                    <div class="fw-bold navbar-text">
                        @group.Title
                    </div>
                }
                <ul class="navbar-nav">                    
                    @foreach (var menuItem in group.MenuItems)
                    {
                        <li class="nav-item @(menuItem.Hidden ? "invisible" : null)">
                            <a class="nav-link @(Model.IsLight ? "text-dark" : "")"
                               data-menu-link="@(menuItem.ActiveIsExactMatch ? "exact" : null)"
                               href="@(menuItem.Link ?? menuItem.ExternalLink)"
                               target="@(!string.IsNullOrEmpty(menuItem.ExternalLink) ? "_blank" : null)">
                                @if (!string.IsNullOrEmpty(menuItem.Text))
                                {
                                    <span>@menuItem.Text</span>
                                }

                                @if (menuItem.Icon != null)
                                {
                                    @await Html.PartialAsync("Components/_Icon", new IconViewModel(menuItem.Icon.Value))
                                }
                            </a>
                        </li>
                    }
                </ul>
            }
        </div>
    </div>
</nav>