@using ODK.Services.Authentication
@using ODK.Web.Common.Routes
@using ODK.Web.Common.Services
@using ODK.Web.Razor.Models
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Razor.Services
@inject IOdkRoutes OdkRoutes
@inject IRequestStore RequestStore
@{
    var currentMember = RequestStore.CurrentMemberOrDefault;
}

<div data-odk-component="_SiteAccountDropdown">
    @if (currentMember == null)
    {
        <div class="button-container">
            <a class="btn btn-outline-light anonymous-link" href="@OdkRoutes.Account.Login(null)">Sign in</a>
            <a class="btn btn-primary anonymous-link" href="@OdkRoutes.Account.Create()">Sign up</a>
        </div>        
    }
    else
    {
         <div class="text-light account-links__user" role="button"
             data-bs-toggle="offcanvas" data-bs-target="#account-menu-offcanvas">
            @await Html.PartialAsync("Components/_Icon", new IconViewModel(IconType.User))
        </div>

        <div class="d-none" data-attach-to="main">
            @await Html.PartialAsync("Components/_Offcanvas", new OffcanvasViewModel
            {        
                BodyClass = "pt-0",
                Class = "offcanvas-flush",
                Id = "account-menu-offcanvas",
                Position = "end",
                ContentFunc =
                    @<div>
                        <div class="list-group list-group-flush list-group-border-0">                            
                            <a class="list-group-item list-group-item-action" href="@OdkRoutes.Account.Index(chapter: null)">
                                <span class="icon">
                                    @await Html.PartialAsync("Components/_Icon", new IconViewModel(IconType.UserOutline))
                                </span>
                                <span>My account</span>
                            </a>
                        </div>                    

                        <hr/>                        

                        <div class="list-group list-group-flush list-group-border-0">
                            <div class="list-group-item">
                                <strong>Groups</strong>
                            </div>
                            @await Html.PartialAsync("Admin/_AdminLink", new AdminLinkViewModel
                            {
                                Class = "list-group-item list-group-item-action",
                                Icon = IconType.Groups,
                                Route = OdkRoutes.GroupAdmin.Index(),
                                Text = "My groups"
                            })
                
                            @await Html.PartialAsync("Admin/_AdminLink", new AdminLinkViewModel
                            {
                                Class = "list-group-item list-group-item-action",
                                Icon = IconType.Plus,
                                Route = OdkRoutes.GroupAdmin.Create(),
                                Text = "Create"
                            })
                        </div>                    

                        @if (currentMember?.SiteAdmin == true)
                        {
                            <hr/>
                            <div class="list-group list-group-flush list-group-border-0">
                                <a class="list-group-item list-group-item-action" href="@OdkRoutes.SiteAdmin.Index">
                                    <span class="icon">
                                        @await Html.PartialAsync("Components/_Icon", new IconViewModel(IconType.Wrench))
                                    </span>
                                    <span>Site admin</span>
                                </a>
                            </div>                        
                        }

                        <hr/>
                        <div class="list-group list-group-flush list-group-border-0">
                            <a class="list-group-item list-group-item-action" href="@OdkRoutes.Account.Logout(chapter: null)">
                                <span class="icon">
                                    @await Html.PartialAsync("Components/_Icon", new IconViewModel(IconType.Logout))
                                </span>
                                <span>Sign Out</span>
                            </a>
                        </div>                    
                    </div>,
                FooterFunc = @<div>@await Html.PartialAsync("Header/_AccountDropdownFooter")</div>
            })  
        </div>   
    }    
</div>