@using ODK.Web.Razor.Models.SuperAdmin
@model NewTopicsFormViewModel

@if (Model.Members.Count > 0)
{
    <h6>Member topics</h6>
    <div class="table-responsive">
        <table class="table table-striped align-middle">
            <thead>
                <tr>
                    <th>Topic group</th>
                    <th>Topic</th>
                    <th>Approve</th>
                    <th>Reject</th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < Model.Members.Count; i++)
                {
                    <tr>
                        <td>
                            @Html.HiddenFor(x => x.Members[i].NewTopicId)
                            @Html.TextBoxFor(x => x.Members[i].TopicGroup, new { @class = "form-control" })
                        </td>
                        <td>
                            @Html.TextBoxFor(x => x.Members[i].Topic, new { @class = "form-control" })
                        </td>
                        <td>
                            <div class="form-check">
                                @Html.CheckBoxFor(x => x.Members[i].Approved, new { @class = "form-check-input" })
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                @Html.CheckBoxFor(x => x.Members[i].Rejected, new { @class = "form-check-input" })
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@if (Model.Chapters.Count > 0)
{
    <h6>Chapter topics</h6>
    <div class="table-responsive">
        <table class="table table-striped align-middle">
            <thead>
                <tr>
                    <th>Topic group</th>
                    <th>Topic</th>
                    <th>Approve</th>
                    <th>Reject</th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < Model.Chapters.Count; i++)
                {
                    <tr>
                        <td>
                            @Html.HiddenFor(x => x.Chapters[i].NewTopicId)
                            @Html.TextBoxFor(x => x.Chapters[i].TopicGroup, new { @class = "form-control" })
                        </td>
                        <td>
                            @Html.TextBoxFor(x => x.Chapters[i].Topic, new { @class = "form-control" })
                        </td>
                        <td>
                            <div class="form-check">
                                @Html.CheckBoxFor(x => x.Chapters[i].Approved, new { @class = "form-check-input" })
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                @Html.CheckBoxFor(x => x.Chapters[i].Rejected, new { @class = "form-check-input" })
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}