@model ODK.Web.Razor.Models.SuperAdmin.PaymentSettingsFormViewModel
@{
    var providerOptions = new[]
    {
        new SelectListItem { Text = "PayPal" }
    };
}

<div class="form-group mb-3">
    @Html.LabelFor(x => x.Provider, new { @class = "form-label" })
    @Html.DropDownListFor(x => x.Provider, providerOptions, new { @class = "form-control" })
</div>

<div class="form-group mb-3 required">
    @Html.LabelFor(x => x.PublicKey, new { @class = "form-label" })
    @Html.TextBoxFor(x => x.PublicKey, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.PublicKey)
</div>

<div class="form-group mb-3 required">
    @Html.LabelFor(x => x.SecretKey, new { @class = "form-label" })
    @Html.TextBoxFor(x => x.SecretKey, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.SecretKey)
</div>