@using ODK.Core.Payments
@using ODK.Web.Common.Extensions
@using ODK.Web.Razor.Models.SuperAdmin
@model SitePaymentSettingsFormViewModel

<div class="form-group mb-3 required">
    @Html.LabelFor(x => x.Name, new { @class = "form-label" })
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Name)
</div>

<div class="form-group mb-3 required">
    @Html.LabelFor(x => x.Provider, new { @class = "form-label" })
    @Html.OdkEnumDropDownFor(x => x.Provider, new { @class = "form-select" })
</div>

<div class="form-group mb-3 required">
    @Html.LabelFor(x => x.PublicKey, new { @class = "form-label" })
    @Html.TextBoxFor(x => x.PublicKey, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.PublicKey)
</div>

<div class="form-group mb-3 required">
    @Html.LabelFor(x => x.SecretKey, new { @class = "form-label" })
    @Html.TextBoxFor(x => x.SecretKey, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.SecretKey)
</div>

<div class="form-group mb-3 required">
    @Html.LabelFor(x => x.Commission, new { @class = "form-label" })
    @Html.TextBoxFor(x => x.Commission, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Commission)
</div>