@using ODK.Services.Topics
@using ODK.Web.Common.Extensions
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Razor.Models.SuperAdmin
@inject ITopicAdminService TopicAdminService
@{
    var memberId = User.MemberId();
    var viewModel = await TopicAdminService.GetTopicsAdminPageViewModel(memberId);
    var topicDictionary = viewModel.Topics
        .GroupBy(x => x.TopicGroupId)
        .ToDictionary(x => x.Key, x => x.ToArray());
}

@if (viewModel.NewMemberTopics.Count > 0 || viewModel.NewChapterTopics.Count > 0)
{
    <h2>New topics</h2>
    <section class="section section--admin">
        <form action="/superadmin/topics/approve" method="post">
            @Html.AntiForgeryToken()
            @await Html.PartialAsync("SuperAdmin/_NewTopicsForm", new NewTopicsFormViewModel
            {
                Chapters = viewModel.NewChapterTopics
                    .OrderBy(x => x.Topic)
                    .Select(x => new NewTopicsFormItemViewModel
                    {
                        NewTopicId = x.Id,
                        Topic = x.Topic,
                        TopicGroup = x.TopicGroup
                    })
                    .ToList(),
                Members = viewModel.NewMemberTopics
                    .OrderBy(x => x.Topic)
                    .Select(x => new NewTopicsFormItemViewModel
                    {
                        NewTopicId = x.Id,
                        Topic = x.Topic,
                        TopicGroup = x.TopicGroup
                    })
                    .ToList()
            })
            <button class="btn btn-primary">Approve</button>
        </form>
    </section>
}

<h2>Topics</h2>

<section class="section">
    <div class="d-flex flex-column gap-4">
        @foreach (var topicGroup in viewModel.TopicGroups.OrderBy(x => x.Name))
        {
            topicDictionary.TryGetValue(topicGroup.Id, out var topics);

            @await Html.PartialAsync("Components/_Panel", new PanelViewModel
            {
                TitleContentFunc = @<h5>@topicGroup.Name</h5>,
                BodyContentFunc = 
                    @<div>
                        @if (topics != null)
                        {
                            @foreach (var topic in topics.OrderBy(x => x.Name))
                            {
                                <div class="badge text-bg-secondary">@topic.Name</div>
                            }
                        }

                        <form action="/superadmin/topics" method="post">
                            @Html.AntiForgeryToken()
                            @Html.Hidden("TopicGroupId", topicGroup.Id.ToString())

                            <div class="input-group mt-3">
                                <input type="text" class="form-control" placeholder="Add topic" aria-label="Add topic" name="Name" />
                                <button class="btn btn-primary">Add</button>
                            </div>
                        </form>
                    </div>
            })
        }
    </div>
</section>