@using ODK.Core.Utils
@using ODK.Web.Razor.Models.Events
@model ListEventViewModel

<h4 class="d-flex align-items-center">  
    @await Html.PartialAsync("Events/_EventResponseIcon", new EventResponseIconViewModel
           {
               ReadOnly = true,
               ResponseType = Model.EventResponse.Response
           })
    
    @if (Model.EventResponse.Public)
    {
        <a href="/@Model.Chapter.Name/Events/Public/@Model.EventResponse.EventId" class="@(Model.EventResponse.Response > 0 ? "ml-1" : null)">
            @Model.EventResponse.EventName [Public event]
        </a>
    }
    else
    {
        <a href="/@Model.Chapter.Name/Events/@Model.EventResponse.EventId" class="@(Model.EventResponse.Response > 0 ? "ml-1" : null)">
            @Model.EventResponse.EventName
        </a>   
    }
</h4>
<h5>
    @Model.EventResponse.Date.EventDate(true)
</h5>
<div>@Model.EventResponse.VenueName</div>