@using ODK.Services.Users.ViewModels
@using ODK.Web.Common.Components
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Account
@model AccountMenuViewModel
@{    
    var menuItems = new MenuItem[]
    {
        new MenuItem { Link = OdkRoutes.Account.PersonalDetails(Model.ChapterName), Text = "Personal details" },
        Model.ChapterName != null
            ? new MenuItem { Link = OdkRoutes.Account.Profile(Model.ChapterName), Text = "Profile" }
            : new MenuItem(),
        new MenuItem { Link = OdkRoutes.Account.Picture(Model.ChapterName), Text = "Picture" },
        Model.ChapterName != null
            ? new MenuItem { Link = OdkRoutes.Account.Subscription(Model.ChapterName), Text = "My subscription" }
            : new MenuItem(),        
        new MenuItem { Link = OdkRoutes.Account.EmailAddressChange(Model.ChapterName), Text = "Update email address" },
        new MenuItem { Link = OdkRoutes.Account.PasswordChange(Model.ChapterName), Text = "Update password" },
        Model.ChapterName != null
            ? new MenuItem { Link = OdkRoutes.Account.EmailPreferences(Model.ChapterName), Text = "Email preferences" }
            : new MenuItem(),
        new MenuItem { Link = OdkRoutes.Account.Delete(Model.ChapterName), Text = "Delete account" }
    }.Where(x => !string.IsNullOrEmpty(x.Link)).ToArray();
}

<ul class="list-group d-none d-md-block">
    @foreach (var menuItem in menuItems)
    {
        <li class="list-group-item @(menuItem.Link == Model.Active ? "active" : "")">
            <a class="nav-link text-nowrap" href="@menuItem.Link">
                @menuItem.Text
            </a>
        </li>
    }
</ul>

<div class="dropdown d-md-none">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
        @menuItems.FirstOrDefault(x => x.Link == Model.Active)?.Text
    </button>
    <ul class="dropdown-menu">
        @foreach (var menuItem in menuItems)
        {
            <li>
                <a class="dropdown-item" href="@menuItem.Link">@menuItem.Text</a>
            </li>
        }        
    </ul>
</div>