@using ODK.Services.Users.ViewModels
@using ODK.Web.Common.Components
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Account
@model AccountMenuViewModel
@{    
    var menuItems = new MenuItem[]
    {
        new MenuItem { Link = OdkRoutes.Account.PersonalDetails(Model.Chapter), Text = "Personal details" },
        Model.Chapter == null 
            ? new MenuItem { Link = OdkRoutes.Account.Location(), Text = "Location" }
            : new MenuItem(),
        Model.Chapter != null
            ? new MenuItem { Link = OdkRoutes.Account.Profile(Model.Chapter), Text = "Profile" }
            : new MenuItem(),
        new MenuItem { Link = OdkRoutes.Account.Picture(Model.Chapter), Text = "Picture" },
        Model.Chapter != null
            ? new MenuItem { Link = OdkRoutes.Account.Subscription(Model.Chapter), Text = "My subscription" }
            : new MenuItem { Link = OdkRoutes.Account.Subscription(null), Text = "My subscription" },
        new MenuItem { Link = OdkRoutes.Account.EmailAddressChange(Model.Chapter), Text = "Email address" },
        new MenuItem { Link = OdkRoutes.Account.PasswordChange(Model.Chapter), Text = "Password" },
        Model.Chapter != null
            ? new MenuItem { Link = OdkRoutes.Account.EmailPreferences(Model.Chapter), Text = "Email preferences" }
            : new MenuItem(),
        new MenuItem { Link = OdkRoutes.Account.Delete(Model.Chapter), Text = "Delete account" }
    }.Where(x => !string.IsNullOrEmpty(x.Link)).ToArray();
}

<ul class="list-group d-none d-md-block">
    @foreach (var menuItem in menuItems)
    {
        <li class="list-group-item @(string.Equals(menuItem.Link, Model.Active, StringComparison.InvariantCultureIgnoreCase) ? "active" : "")">
            <a class="nav-link text-nowrap" href="@menuItem.Link">
                @menuItem.Text
            </a>
        </li>
    }
</ul>

<div class="dropdown d-md-none">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
        @menuItems.FirstOrDefault(x => x.Link == Model.Active)?.Text
    </button>
    <ul class="dropdown-menu">
        @foreach (var menuItem in menuItems)
        {
            <li>
                <a class="dropdown-item" href="@menuItem.Link">@menuItem.Text</a>
            </li>
        }        
    </ul>
</div>