@using ODK.Core.Chapters
@using ODK.Core.Countries
@using ODK.Core.Extensions
@using ODK.Core.Members
@using ODK.Core.Payments
@using ODK.Services.Chapters
@using ODK.Services.Members
@using ODK.Services.Members.ViewModels
@using ODK.Services.Payments
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models
@using ODK.Web.Razor.Models.Account
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Razor.Models.Payments
@model SubscriptionsPageViewModel
@inject IOdkRoutes OdkRoutes
@{
    var title = Model.MemberSubscription == null || Model.MemberSubscription.Type == SubscriptionType.Trial 
        ? "Purchase membership" 
        : "Renew membership";
}

@if (Model.MembershipSettings?.Enabled == true || Model.CurrentSubscription != null || Model.MemberSubscription != null) 
{
    <div class="form-group mb-3">
        <label class="form-label">Membership</label>
        <div class="form-control-plaintext">
            @if (Model.CurrentSubscription != null)
            {
                <span>@Model.CurrentSubscription.Name</span>
            }
            else if (Model.MemberSubscription != null)
            {
                <span>@Model.MemberSubscription.Type</span>
            }
            else
            {
                <span>-</span>
            }
        </div>
    </div>
}
else
{
    <p>
        This group does not have subscriptions
    </p>
}

@if (Model.MemberSubscription != null)
{
    <div class="form-group mb-3">
        <label class="form-label">End date</label>
        <div class="form-control-plaintext">
            @if (Model.MemberSubscription?.ExpiresUtc != null)
            {
                <span>
                    @Model.Chapter.ToLocalTime(Model.MemberSubscription.ExpiresUtc.Value).ToString("d MMMM yyyy")
                </span>
            }
            else
            {
                <span>-</span>
            }
        </div>
    </div>
}

@if (Model.ExternalSubscription?.Status == ExternalSubscriptionStatus.Active)
{
    @if (Model.ExternalSubscription.NextBillingDate != null)
    {
        <div class="form-group mb-3">
            <label class="form-label">Next payment date</label>
            <div class="form-control-plaintext">
                <span>
                    @Model.Chapter.ToLocalTime(Model.ExternalSubscription.NextBillingDate.Value).ToString("d MMMM yyyy")
                </span>
            </div>
        </div>
    }    

    <div>
        <form action="/chapters/@Model.Chapter.Id/account/subscription/cancel" method="post">
            <input type="hidden" name="@nameof(CancelSubscriptionRequest.ExternalId)" value="@Model.ExternalSubscription.ExternalId" />
            <button class="btn btn-danger" onclick="return confirm('Are you sure you want to cancel your subscription?');">
                Cancel subscription
            </button>
        </form>
    </div>
}
else if (Model.ChapterSubscriptions.Count > 0)
{
    <h3>@title</h3>

    @foreach (var chapterSubscription in Model.ChapterSubscriptions)
    {
        <div class="mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@chapterSubscription.Title</h5>
                    <div class="card-text">
                        @Html.Raw(chapterSubscription.Description)
                    </div>

                    @if (chapterSubscription.Recurring)
                    {
                        <div class="alert alert-warning mt-3">
                            This is a recurring subscription. Payment will be taken automatically on the renewal date. 
                            <br/>
                            You will be able to cancel your subscription at any time on this page.
                        </div>
                    }

                    <div>
                        <div class="button-container mt-3">
                            @{
                                var checkoutUrl = OdkRoutes.Groups.SubscriptionCheckout(Model.Chapter, chapterSubscription);
                            }                            

                            <a class="btn btn-primary" href="@checkoutUrl">
                                Buy
                            </a>

                            <span>@chapterSubscription.Currency.ToAmountString(chapterSubscription.Amount)</span>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    }
}