@using ODK.Core.Chapters
@using ODK.Core.Countries
@using ODK.Core.Extensions
@using ODK.Core.Members
@using ODK.Core.Payments
@using ODK.Services.Chapters
@using ODK.Services.Members
@using ODK.Services.Payments
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models
@using ODK.Web.Razor.Models.Account
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Razor.Models.Payments
@model OdkComponentViewModel<Chapter>
@inject IChapterService ChapterService
@{
    var (chapter, memberId, platform) = (Model.Value, Model.Context.CurrentMemberId, Model.Platform);
    var dto = await ChapterService.GetChapterMemberSubscriptionsViewModel(memberId, chapter);

    var (currentSubscription, 
        memberSubscription, 
        chapterSubscriptions, 
        currency, 
        externalSubscription) = 
        (dto.CurrentSubscription, 
        dto.MemberSubscription, 
        dto.ChapterSubscriptions, 
        dto.Currency, 
        dto.ExternalSubscription);

    var title = memberSubscription == null || memberSubscription.Type == SubscriptionType.Trial 
        ? "Purchase membership" 
        : "Renew membership";
}

@if (currency == null)
{
    <div class="alert alert-error">
        This group has not set its payment settings
    </div>
    return;
}

<div class="form-group mb-3">
    <label class="form-label">Membership</label>
    <div class="form-control-plaintext">
        @if (currentSubscription != null)
        {
            <span>@currentSubscription.Name</span>
        }
        else if (memberSubscription != null)
        {
            <span>@memberSubscription.Type</span>
        }
        else
        {
            <span>-</span>
        }
    </div>
</div>

<div class="form-group mb-3">
    <label class="form-label">End date</label>
    <div class="form-control-plaintext">
        @if (memberSubscription?.ExpiresUtc != null)
        {
            <span>
                @chapter.ToLocalTime(memberSubscription.ExpiresUtc.Value).ToString("d MMMM yyyy")
            </span>
        }
        else
        {
            <span>-</span>
        }
    </div>
</div>

@if (externalSubscription?.Status == ExternalSubscriptionStatus.Active)
{
    @if (externalSubscription.NextBillingDate != null)
    {
        <div class="form-group mb-3">
            <label class="form-label">Next payment date</label>
            <div class="form-control-plaintext">
                <span>
                    @chapter.ToLocalTime(externalSubscription.NextBillingDate.Value).ToString("d MMMM yyyy")
                </span>
            </div>
        </div>
    }    

    <div>
        <form action="/Chapters/@chapter.Id/Account/Subscription/Cancel" method="post">
            <input type="hidden" name="@nameof(CancelSubscriptionRequest.ExternalId)" value="@externalSubscription.ExternalId" />
            <button class="btn btn-danger" onclick="return confirm('Are you sure you want to cancel your subscription?');">
                Cancel subscription
            </button>
        </form>
    </div>
}
else
{
    <h3>@title</h3>

    @foreach (var chapterSubscriptionDto in chapterSubscriptions)
    {
        var chapterSubscription = chapterSubscriptionDto.ChapterSubscription;

        var modalId = $"payment-modal-{chapterSubscription.Id}";
        IPaymentSettings paymentSettings = chapterSubscriptionDto.SitePaymentSettings != null
            ? chapterSubscriptionDto.SitePaymentSettings
            : dto.ChapterPaymentSettings;

        <div class="mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@chapterSubscription.Title</h5>
                    <div class="card-text">
                        @Html.Raw(chapterSubscription.Description)
                    </div>

                    @if (chapterSubscription.Recurring)
                    {
                        <div class="alert alert-warning mt-3">
                            This is a recurring subscription. Payment will be taken automatically on the renewal date. 
                            <br/>
                            You will be able to cancel your subscription at any time on this page.
                        </div>
                    }

                    <div>
                        <div class="button-container mt-3">
                            @if (paymentSettings?.Provider == PaymentProviderType.Stripe)
                            {
                                var checkoutUrl = OdkRoutes.Groups
                                    .SubscriptionCheckout(platform, chapter, chapterSubscription);

                                <a class="btn btn-primary" href="@checkoutUrl">
                                    Buy
                                </a>
                            }
                            else
                            {
                                <button class="btn btn-primary"
                                        data-bs-toggle="modal" data-bs-target="#@modalId">
                                    Buy
                                </button>
                            }

                            <span>@currency.ToAmountString(chapterSubscription.Amount)</span>
                        </div>
                        @await Html.PartialAsync("Payments/_PaymentModal", new PaymentModalViewModel
                       {
                           Action = $"/Chapters/{chapter.Id}/Account/Subscription/Purchase",
                           PaymentSettings = paymentSettings,
                           FormContentFunc =
                                @<input type="hidden" name="subscriptionId" value="@chapterSubscription.Id" />,
                           Id = modalId,
                           PaymentForm = new PaymentFormViewModel
                           {
                               Amount = (decimal)chapterSubscription.Amount,
                               Currency = currency,
                               Description = chapterSubscription.Title,
                               Id = chapterSubscription.Id.ToString()
                           },
                           Title = title
                       })

                    </div>
                </div>
            </div>
        </div>
    }
}