@model ODK.Web.Razor.Models.Account.ChangePasswordFormViewModel

<div class="form-group mb-3 required">
    @Html.LabelFor(x => x.CurrentPassword, new { @class = "form-label" })
    @Html.PasswordFor(x => x.CurrentPassword, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CurrentPassword)
</div>

<div class="form-group mb-3 required">
    @Html.LabelFor(x => x.NewPassword, new { @class = "form-label" })
    @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.NewPassword)
</div>