@using ODK.Core.Platforms
@using ODK.Core.Utils
@using ODK.Services.Members.ViewModels
@using ODK.Web.Common.Routes
@using ODK.Web.Common.Services
@model MemberConversationsPageViewModel
@inject IOdkRoutes OdkRoutes
@inject IRequestStore RequestStore
@{
    var currentChapter = RequestStore.ChapterOrDefault;

    var chapterDictionary = Model.Chapters
        .ToDictionary(x => x.Id);
}

@if (Model.Conversations.Count == 0)
{
    var contactUrl = currentChapter != null
        ? OdkRoutes.Groups.Contact(currentChapter)
        : OdkRoutes.Site.Contact;

    <p>You haven't started any conversations yet</p>

    <p>
        <a href="@contactUrl">Get in touch</a>
    </p>
    return;
}

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                @if (Model.Platform != PlatformType.DrunkenKnitwits)
                {
                    <th>Group</th>
                }                
                <th>Subject</th>
                <th>Started</th>
                <th>Last message</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var dto in Model.Conversations.OrderByDescending(x => x.LastMessage.Message.CreatedUtc))
            {
                if (!chapterDictionary.TryGetValue(dto.Conversation.ChapterId, out var chapter))
                {
                    continue;
                }

                var timeZone = Model.CurrentMember.TimeZone ?? chapter.TimeZone;

                <tr>
                    @if (Model.Platform != PlatformType.DrunkenKnitwits)
                    {
                        <td>
                            <a href="@OdkRoutes.Groups.Group(chapter)">
                                @chapter.GetDisplayName(Model.Platform)
                            </a>
                        </td>
                    }
                    
                    <td>
                        <a href="@OdkRoutes.Groups.Conversation(chapter, dto.Conversation.Id)">
                            @dto.Conversation.Subject
                        </a>
                    </td>
                    <td>@dto.Conversation.CreatedUtc.ToFriendlyDateTimeString(timeZone)</td>
                    <td>
                        <div>
                            @dto.LastMessage.Message.CreatedUtc.ToFriendlyDateTimeString(timeZone)
                        </div>
                        @if (dto.LastMessage.Message.MemberId != Model.CurrentMember.Id)
                        {
                            <div>
                                @dto.LastMessage.MemberFullName
                            </div>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>