@using ODK.Core.Platforms
@using ODK.Core.Utils
@using ODK.Services.Members.ViewModels
@using ODK.Web.Common.Routes
@using ODK.Web.Common.Services
@using ODK.Web.Razor.Models.Components
@model MemberConversationsPageViewModel
@inject IOdkRoutes OdkRoutes
@inject IRequestStore RequestStore
@{
    var currentChapter = RequestStore.ChapterOrDefault;

    var chapterDictionary = Model.Chapters
        .ToDictionary(x => x.Id);
}

@if (Model.ActiveConversationCount + Model.ArchivedConversationCount == 0)
{
    var contactUrl = currentChapter != null
        ? OdkRoutes.Groups.Conversations(currentChapter)
        : OdkRoutes.Site.Contact;

    <p>You haven't started any conversations yet</p>

    <p>
        <a href="@contactUrl">Get in touch</a>
    </p>
    return;
}

<div>
    @await Html.PartialAsync("Components/_Tabs", new TabsViewModel
    {
        MenuItems = new[]
        {
            new MenuItem 
            { 
                Text = $"Active ({Model.ActiveConversationCount})", 
                Active = !Model.Archived, 
                Link = OdkRoutes.Account.Conversations(Model.Chapter, archived: false) 
            },
            new MenuItem 
            { 
                Text = $"Archived ({Model.ArchivedConversationCount})", 
                Active = Model.Archived, 
                Link = OdkRoutes.Account.Conversations(Model.Chapter, archived: true),
                Disabled = Model.ArchivedConversationCount == 0
            }
        }
    })
</div>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                @if (Model.Platform != PlatformType.DrunkenKnitwits)
                {
                    <th>Group</th>
                }                
                <th>Subject</th>
                <th></th>
                <th>Started</th>
                <th>Last message</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var dto in Model.Conversations.OrderByDescending(x => x.LastMessage.Message.CreatedUtc))
            {
                if (!chapterDictionary.TryGetValue(dto.Conversation.ChapterId, out var chapter))
                {
                    continue;
                }

                var timeZone = Model.CurrentMember.TimeZone ?? chapter.TimeZone;

                <tr>
                    @if (Model.Platform != PlatformType.DrunkenKnitwits)
                    {
                        <td>
                            <a href="@OdkRoutes.Groups.Group(chapter)">
                                @chapter.GetDisplayName(Model.Platform)
                            </a>
                        </td>
                    }
                    
                    <td>
                        <a href="@OdkRoutes.Account.Conversation(chapter: null, dto.Conversation.Id)">
                            @dto.Conversation.Subject
                        </a>
                    </td>

                    <td>
                        <span>@await Html.PartialAsync("Components/_Icon", new IconViewModel(IconType.Message))</span>
                        <span>@dto.MessageCount</span>
                    </td>

                    <td>
                        @dto.Conversation.CreatedUtc.ToFriendlyDateTimeString(timeZone)
                    </td>

                    <td>
                        <div>
                            @dto.LastMessage.Message.CreatedUtc.ToFriendlyDateTimeString(timeZone)
                        </div>
                        @if (dto.LastMessage.Message.MemberId != Model.CurrentMember.Id)
                        {
                            <div>
                                @dto.LastMessage.MemberFullName
                            </div>
                        }
                    </td>

                    <td>
                        @if (!Model.Archived)
                        {
                            <form action="/conversations/@dto.Conversation.Id/archive" method="post">
                                <button type="submit" class="btn btn-icon"
                                        data-bs-toggle="tooltip" data-bs-title="Archive">
                                    @await Html.PartialAsync("Components/_Icon", new IconViewModel(IconType.Archive))
                                </button>
                            </form>
                        }                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>