@using ODK.Web.Razor.Models.Account
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Razor.Razor
@model LocationFormViewModel
@{    
    var latLong = Model.Lat != null && Model.Long != null
        ? $"{Model.Lat},{Model.Long}"
        : null;
}

<div class="form-group mb-3 required">
    @Html.LabelFor(x => x.TimeZoneId, new { @class = "form-label" })
    @Html.OdkTimeZoneDropDownFor(x => x.TimeZoneId, new { @class = "form-select", data_searchable = "" })
    @Html.ValidationMessageFor(x => x.TimeZoneId)
</div>

<div class="form-group mb-3 required" data-location-container>
    @Html.LabelFor(x => x.Name, new { @class = "form-label" })    
    
    @await Html.PartialAsync("Components/_LocationPicker", Model)    
    <div class="ms-1 text-muted">
        We use this to help you find local groups. It is not seen by other members. It does not need to be an exact address.
    </div>
    @Html.ValidationMessageFor(x => x.Name)
    <input type="hidden" id="map-latlong" data-location-latlong value="@latLong" />
</div>

<div class="form-group mb-3 d-none" data-map-container>
    @await Html.PartialAsync("Components/_GoogleMap", new GoogleMapViewModel
    {
        QuerySource = "#map-latlong",
        Zoom = GoogleMapViewModel.ZoomLevelCity
    })
</div>