@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Login
@model LoginViewModel
@inject IOdkRoutes OdkRoutes

<form method="post" action="@(Model.Chapter != null ? $"/{Model.Chapter.ShortName}" : "")/Account/Login?ReturnUrl=@Model.ReturnUrl">
    @*@Html.AntiForgeryToken()*@

    <div class="form-group required mb-3">
        @Html.LabelFor(x => x.Email, new { @class = "form-label" })
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
    </div>
    <div class="form-group required mb-3">
        @Html.LabelFor(x => x.Password, new { @class = "form-label" })
        @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
    </div>

    <div class="d-flex">
        <button type="submit" class="btn btn-primary me-auto">Sign in</button>
        <a class="btn btn-link" href="@OdkRoutes.Account.ForgottenPassword(Model.Chapter)">Forgotten password?</a>
    </div>
</form>        
