@using ODK.Core.Notifications
@using ODK.Web.Razor.Models.Notifications
@model NotificationSettingsFormViewModel

@for (var i = 0; i < Model.Settings.Count; i++)
{
    var setting = Model.Settings[i];
    var labelText = setting.Type.SettingsLabel();

    <div class="form-group mb-3">
        <div class="form-check form-switch">
            @Html.CheckBoxFor(x => x.Settings[i].Enabled, new 
            { 
                @class = "form-check-input", 
                role = "switch",
                data_input_change_url = $"/account/notifications/{setting.Type}?enabled={!setting.Enabled}"
            })
            @Html.LabelFor(x => x.Settings[i].Enabled, labelText, new { @class = "form-check-label" })
        </div>                
    </div>
}

@if (Model.ChapterSettings.Count > 0)
{
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Group</th>
                    @for (var j = 0; j < Model.Settings.Count; j++)
                    {
                        var label = Model.Settings[j].Type.SettingsLabel();
                        <th>@label</th>
                    }
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < Model.ChapterSettings.Count; i++)
                {
                    var chapterSettings = Model.ChapterSettings[i];

                    <tr>
                        <td>@chapterSettings.ChapterName</td>

                        @for (var j = 0; j < chapterSettings.Settings.Count; j++)
                        {
                            <td>
                                @if (!chapterSettings.Settings[j].Type.ForAdmins() || 
                                    Model.AdminChapterIds.Contains(chapterSettings.ChapterId))
                                {
                                    <div class="form-check form-switch">
                                        @Html.HiddenFor(x => x.ChapterSettings[i].Settings[j].Type)
                                        @Html.CheckBoxFor(x => x.ChapterSettings[i].Settings[j].Enabled, new { @class = "form-check-input", role = "switch" })
                                    </div>
                                }                                
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
}