@using ODK.Core.Utils
@using ODK.Services.Users.ViewModels
@using ODK.Web.Common.Routes
@model MemberPaymentsPageViewModel

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Group</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Reference</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var dto in Model.Payments.OrderByDescending(x => x.Payment.CreatedUtc))
            {
                var payment = dto.Payment;
                
                <tr>
                    <td>
                        <a href="@OdkRoutes.Groups.Group(Model.Platform, dto.Chapter)">@dto.Chapter.Name</a>
                    </td>
                    <td>
                        @if (payment.PaidUtc != null)
                        {
                            @payment.PaidUtc.Value.ToFriendlyDateTimeString(Model.CurrentMember.TimeZone ?? dto.Chapter.TimeZone)
                        }
                        else
                        {
                            <span class="badge bg-danger">INCOMPLETE</span>
                        }
                    </td>
                    <td>
                        @dto.Currency.ToAmountString(payment.Amount)
                    </td>
                    <td>
                        @payment.Reference
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>