@using ODK.Core.Chapters
@using ODK.Core.Utils
@using ODK.Services.Users.ViewModels
@using ODK.Web.Common.Routes
@model MemberPaymentsPageViewModel
@inject IOdkRoutes OdkRoutes

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Group</th>
                <th>Date</th>
                <th>Paid</th>
                <th>Amount</th>
                <th>Reference</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var payment in Model.Payments.OrderByDescending(x => x.CreatedUtc))
            {                
                <tr>
                    <td>
                        @if (payment.Chapter != null)
                        {
                            <a href="@OdkRoutes.Groups.Group(payment.Chapter)">
                                @payment.Chapter.GetDisplayName(Model.Platform)
                            </a>
                        }       
                        else
                        {
                            <div class="badge bg-secondary">
                                Site
                            </div>
                        }
                    </td>
                    <td>
                        @if (payment.CreatedUtc != null)
                        {
                            @payment.CreatedUtc.Value.ToFriendlyDateTimeString(Model.CurrentMember.TimeZone ?? payment.Chapter?.TimeZone ?? Chapter.DefaultTimeZone)
                        }                        
                    </td>
                    <td>
                        @if (payment.PaidUtc != null)
                        {
                            @payment.PaidUtc.Value.ToFriendlyDateTimeString(Model.CurrentMember.TimeZone ?? payment.Chapter?.TimeZone ?? Chapter.DefaultTimeZone)
                        }
                        else
                        {
                            <span class="badge bg-danger">INCOMPLETE</span>
                        }
                    </td>
                    <td>
                        @payment.Currency.ToAmountString(payment.Amount)
                    </td>
                    <td>
                        @payment.Reference
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>