@using ODK.Core.Utils
@using ODK.Services.Users.ViewModels
@using ODK.Web.Common.Routes
@model MemberPaymentsPageViewModel

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Group</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Reference</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var dto in Model.Payments.OrderByDescending(x => x.Payment.PaidUtc))
            {
                <tr>
                    <td>
                        <a href="@OdkRoutes2.Groups.Group(Model.Platform, dto.Chapter)">@dto.Chapter.Name</a>
                    </td>
                    <td>
                        @dto.Payment.PaidUtc.ToFriendlyDateTimeString(Model.CurrentMember.TimeZone ?? dto.Chapter.TimeZone)
                    </td>
                    <td>
                        @dto.Payment.Currency.ToAmountString(dto.Payment.Amount)
                    </td>
                    <td>
                        @dto.Payment.Reference
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>