@using ODK.Services.Members
@using ODK.Web.Common.Extensions
@using ODK.Web.Razor.Models.Account
@inject IMemberService MemberService
@model PictureUploadViewModel
@{
    var memberId = User.MemberIdOrDefault();
    var imageSrc = memberId != null
        ? $"/{Model.Chapter.Name}/Members/{memberId}/Image"
        : null;
}

<div data-img-container>
    @Html.HiddenFor(x => x.CropHeight, new { data_img_crop_height = "" })
    @Html.HiddenFor(x => x.CropWidth, new { data_img_crop_width = "" })
    @Html.HiddenFor(x => x.CropX, new { data_img_crop_x = "" })
    @Html.HiddenFor(x => x.CropY, new { data_img_crop_y = "" })
    
    <input type="file" name="image" accept="image/*" class="form-control" data-img-input />

    <div class="mt-3">
        <img src="@imageSrc" data-img-preview data-img-resize />
    </div>            
</div>