@using ODK.Core.Chapters
@using ODK.Core.DataTypes
@using ODK.Core.Members
@using ODK.Services.Caching
@using ODK.Services.Chapters
@using ODK.Services.Members
@using ODK.Services.Users.ViewModels
@using ODK.Web.Common.Extensions
@using ODK.Web.Razor.Models.Account
@model ProfileFormSubmitViewModel
@{
    var memberId = User.MemberIdOrDefault();
}

<div class="form-group mb-3 @(memberId == null ? "required" : null)">
    @Html.LabelFor(x => x.EmailAddress, new { @class = "form-label" })
    
    @if (memberId != null)
    {
        <div class="form-control-plaintext">
            @Model.EmailAddress
        </div>
    }
    else
    {
        <span class="ms-1 text-muted">You will need access to this email to verify your account</span>
        @Html.TextBoxFor(x => x.EmailAddress, new { @class = "form-control", type = "Email" })
        @Html.ValidationMessageFor(x => x.EmailAddress)
    }
</div>

<div class="form-group mb-3 required">
    @Html.LabelFor(x => x.FirstName, new { @class = "form-label" })
    @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.FirstName)
</div>

<div class="form-group mb-3 required">
    @Html.LabelFor(x => x.LastName, new { @class = "form-label" })
    @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.LastName)
</div>

@if (memberId == null)
{   
    <div class="mb-3 form-check required">
        @Html.TextBoxFor(x => x.PrivacyPolicy, new 
        { 
            @class = "form-check-input", 
            type = "checkbox"
        })
        <label for="@Html.IdFor(x => x.PrivacyPolicy)" class="form-check-label">
            I have read the <a href="/Privacy" target="_blank">privacy policy</a>
        </label>
        <div>
            @Html.ValidationMessageFor(x => x.PrivacyPolicy)
        </div>        
    </div>
}