@using ODK.Core.Extensions
@using ODK.Core.Utils
@using ODK.Services.Payments
@using ODK.Services.Subscriptions.ViewModels
@using ODK.Web.Razor.Models.Payments
@model SiteSubscriptionsViewModel
@{    
    var (
        currency, 
        currentMember, 
        memberSubscription, 
        subscriptions, 
        paymentSettings,
        externalSubscription) = (
        Model.Currency, 
        Model.CurrentMember, 
        Model.CurrentMemberSubscription, 
        Model.Subscriptions, 
        Model.SitePaymentSettings,
        Model.CurrentMemberExternalSubscription);
}

@if (currency == null)
{
    var currencyOptions = Model.Currencies
        .Select(x => new SelectListItem { Value = x.Id.ToString(), Text = x.ToString() })
        .OrderBy(x => x.Text)
        .ToArray();

    <form action="/account/currency" method="post">
        @*@Html.AntiForgeryToken()*@
        <div class="form-group mb-3 required">
            @Html.Label("currencyId", "Choose currency", new { @class = "form-label" })
            @Html.DropDownList("currencyId", currencyOptions, "", new 
                { 
                    @class = "form-select", 
                    data_val = "true", 
                    data_val_required = "The Currency field is required" 
                })
            @Html.ValidationMessage("currencyId")
        </div>

        <button class="btn btn-primary">Update</button>
    </form>
    return;
}

<div data-odk-component="_SiteSubscriptionContent">
    <div class="form-group mb-3">
        <label class="form-label">Current subscription</label>
        <div class="form-control-plaintext">
            <span>@(memberSubscription?.SiteSubscription.Name ?? "-")</span>

            @if (externalSubscription?.Status == ExternalSubscriptionStatus.Cancelled)
            {
                <div class="badge bg-warning ms-1">
                    Cancelled
                </div>
            }
        </div>
    </div>

    <div class="form-group mb-3">
        <label class="form-label">
            @if (externalSubscription?.Status == ExternalSubscriptionStatus.Cancelled)
            {
                @:Expiry date
            }
            else
            {
                @:Next payment date
            }            
        </label>
        <div class="form-control-plaintext">
            @if (memberSubscription?.ExpiresUtc != null)
            {
                <span>
                    @memberSubscription.ExpiresUtc.Value.ToFriendlyDateString(null)
                </span>                
            }
            else
            {
                <span>-</span>
            }
        </div>
    </div>

    @if (memberSubscription != null && 
         externalSubscription?.Status == ExternalSubscriptionStatus.Active)
    {
        @if (externalSubscription.NextBillingDate != null)
        {
            <div class="form-group mb-3">
                <label class="form-label">Next payment date</label>
                <div class="form-control-plaintext">
                    <span>
                        @currentMember.ToLocalTime(externalSubscription.NextBillingDate.Value).ToString("d MMMM yyyy")
                    </span>
                </div>
            </div>
        }

        <div>
            <form action="/account/subscription/@memberSubscription.Id/cancel" method="post">
                <p>
                    <button class="btn btn-danger" onclick="return confirm('Are you sure you want to cancel your subscription?');">
                        Cancel subscription
                    </button>
                </p>       
                <p class="text-muted">
                    Your subscription will remain active until the expiry date, but payment will not be taken when due for renewal.
                </p>
            </form>
        </div>
    }

    <h3>Upgrade</h3>

    <div class="d-md-flex gap-3">
        @foreach (var subscriptionDto in subscriptions.OrderBy(x => x.Subscription.DisplayOrder))
        {
            var subscription = subscriptionDto.Subscription;
            var prices = subscriptionDto.Prices
            .Where(x => x.IsPaid)
            .OrderByDescending(x => x.Amount)
            .ToArray();
            if (prices.Length == 0)
            {
                continue;
            }

            <div class="mb-3 col">
                @await Html.PartialAsync("Account/_SiteSubscriptionCard", subscriptionDto)
            </div>
        }
    </div>
</div>