@model ODK.Web.Razor.Models.SuperAdmin.EmailProviderFormViewModel
@{
}

<div class="form-group mb-3 required">
    @Html.LabelFor(x => x.FromEmailAddress, new { @class = "form-label" })
    @Html.TextBoxFor(x => x.FromEmailAddress, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.FromEmailAddress)
</div>

<div class="form-group mb-3 required">
    @Html.LabelFor(x => x.FromName, new { @class = "form-label" })
    @Html.TextBoxFor(x => x.FromName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.FromName)
</div>

<div class="form-group mb-3 required">
    @Html.LabelFor(x => x.SmtpServer, new { @class = "form-label" })
    @Html.TextBoxFor(x => x.SmtpServer, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.SmtpServer)
</div>

<div class="form-group mb-3 required">
    @Html.LabelFor(x => x.SmtpPort, new { @class = "form-label" })
    @Html.TextBoxFor(x => x.SmtpPort, new { @class = "form-control", type = "number" })
    @Html.ValidationMessageFor(x => x.SmtpPort)
</div>

<div class="form-group mb-3 required">
    @Html.LabelFor(x => x.SmtpLogin, new { @class = "form-label" })
    @Html.TextBoxFor(x => x.SmtpLogin, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.SmtpLogin)
</div>

<div class="form-group mb-3 required">
    @Html.LabelFor(x => x.SmtpPassword, new { @class = "form-label" })
    @Html.TextBoxFor(x => x.SmtpPassword, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.SmtpPassword)
</div>

<div class="form-group mb-3">
    @Html.LabelFor(x => x.BatchSize, new { @class = "form-label" })
    @Html.TextBoxFor(x => x.BatchSize, new { @class = "form-control", type = "number" })
    @Html.ValidationMessageFor(x => x.BatchSize)
</div>

<div class="form-group mb-3 required">
    @Html.LabelFor(x => x.DailyLimit, new { @class = "form-label" })
    @Html.TextBoxFor(x => x.DailyLimit, new { @class = "form-control", type = "number" })
    @Html.ValidationMessageFor(x => x.DailyLimit)
</div>