@using ODK.Web.Razor.Models.Admin.Members
@using ODK.Web.Razor.Mvc
@model AdminMemberFormViewModel

<div class="form-group mb-3 required">
    @Html.LabelFor(x => x.Role, new { @class = "form-label" })
    @if (!Model.CanEditRole || Model.ReadOnly)
    {
        @Html.TextBoxFor(x => x.Role, new { @class = "form-control-plaintext", @readonly = "" })
    }
    else
    {
        var roleOptions = Model.RoleOptions
            .Select(x => new SelectListItem { Value = ((int)x).ToString(), Text = x.ToString() })
            .ToList();

        @Html.DropDownListFor(x => x.Role, roleOptions, new { @class = "form-control", data_select = "" })
        @Html.ValidationMessageFor(x => x.Role)
    }    
</div>

<div class="form-group mb-3">
    @Html.LabelFor(x => x.AdminEmailAddress, new { @class = "form-label" })
    @Html.TextBoxFor(x => x.AdminEmailAddress, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.AdminEmailAddress)
</div>

<div class="form-check form-switch mb-3">
    @Html.OdkCheckBoxFor(x => x.ReceiveContactEmails, new { @class = "form-check-input" })
    @Html.LabelFor(x => x.ReceiveContactEmails, new { @class = "form-check-label" })
</div>

<div class="form-check form-switch mb-3">
    @Html.OdkCheckBoxFor(x => x.ReceiveNewMemberEmails, new { @class = "form-check-input" })
    @Html.LabelFor(x => x.ReceiveNewMemberEmails, new { @class = "form-check-label" })
</div>

<div class="form-check form-switch mb-3">
    @Html.OdkCheckBoxFor(x => x.ReceiveEventCommentEmails, new { @class = "form-check-input" })
    @Html.LabelFor(x => x.ReceiveEventCommentEmails, new { @class = "form-check-label" })
</div>