@model ODK.Web.Razor.Models.Admin.Members.MembershipSettingsFormViewModel

<div class="form-group mb-3 required">
    @Html.LabelFor(x => x.TrialPeriodMonths, new { @class = "form-label" })
    @Html.TextBoxFor(x => x.TrialPeriodMonths, new { @class = "form-control", type = "number" })
    @Html.ValidationMessageFor(x => x.TrialPeriodMonths)
</div>

<div class="form-group mb-3 required">
    @Html.LabelFor(x => x.MembershipDisabledAfter, new { @class = "form-label" })
    @await Html.PartialAsync("Components/_Tooltip", 
        "Members will be able to login, but not see or respond to events. They will still receive event emails.")
    <span class="text-muted">How many days after subscription expiry a member has access to events</span>
    @Html.TextBoxFor(x => x.MembershipDisabledAfter, new { @class = "form-control", type = "number" })
    @Html.ValidationMessageFor(x => x.MembershipDisabledAfter)
</div>