@using ODK.Web.Common.Extensions
@using ODK.Web.Razor.Models.Admin.Members
@using ODK.Web.Razor.Models.Payments
@model SubscriptionFormViewModel

<div class="form-group mb-3 required">
    @Html.LabelFor(x => x.Name, new { @class = "form-label" })
    @await Html.PartialAsync("Components/_FormLabelSubtitle", "How to refer to this subscription in the system")
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Name)
</div>

<div class="form-group mb-3 required">
    @Html.LabelFor(x => x.Title, new { @class = "form-label" })
    @await Html.PartialAsync("Components/_FormLabelSubtitle", "Short title visible to members")
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Title)
</div>

@if (Model.Id == null)
{
    <div class="form-group mb-3 required">
        @Html.LabelFor(x => x.Amount, new { @class = "form-label" })
        <div class="input-group">
            <span class="input-group-text">
                @Model.Currency.Symbol
            </span>
            @Html.TextBoxFor(x => x.Amount, new { @class = "form-control", type = "number", min = 0, step = 0.5 })
        </div>
        @Html.ValidationMessageFor(x => x.Amount)
    </div>

    <div class="form-group mb-3 required">
        @Html.LabelFor(x => x.DurationMonths, new { @class = "form-label" })
        @Html.TextBoxFor(x => x.DurationMonths, new { @class = "form-control", type = "number", min = 1 })
        @Html.ValidationMessageFor(x => x.DurationMonths)
    </div>

    @if (Model.SupportsRecurringPayments)
    {
        <div class="mb-3 form-check form-switch">
            @Html.CheckBoxFor(x => x.Recurring, new { @class = "form-check-input", role = "switch" })
            @Html.LabelFor(x => x.Recurring, new { @class = "form-check-label" })
            @await Html.PartialAsync("Components/_FormLabelSubtitle", "Payments will automatically be taken at the start of the next subscription period")
        </div>
    }    
    else
    {
        @Html.HiddenFor(x => x.Recurring)
    }
}
else if (Model.Amount != null)
{
    <div class="form-group mb-3">
        @Html.HiddenFor(x => x.Amount)
        @Html.LabelFor(x => x.Amount, new { @class = "form-label" })
        <input type="text" readonly class="form-control-plaintext" value="@Model.Currency.ToAmountString((decimal)Model.Amount.Value)" />
    </div>

    <div class="form-group mb-3">
        @Html.LabelFor(x => x.DurationMonths, new { @class = "form-label" })
        @Html.TextBoxFor(x => x.DurationMonths, new { @class = "form-control-plaintext", @readonly = "" })
        @Html.ValidationMessageFor(x => x.DurationMonths)
    </div>

    @if (Model.SupportsRecurringPayments)
    {
        <div class="mb-3 form-check form-switch">
            @Html.CheckBoxFor(x => x.Recurring, new { @class = "form-check-input", role = "switch", disabled = "" })
            @Html.LabelFor(x => x.Recurring, new { @class = "form-check-label" })
            @await Html.PartialAsync("Components/_FormLabelSubtitle", "Payments will automatically be taken at the start of the next subscription period")
        </div>
    }
}

<div class="form-group mb-3 required">
    @Html.LabelFor(x => x.Description, new { @class = "form-label" })
    @Html.TextAreaFor(x => x.Description, new { @class = "form-control", rows = 5, data_html_editor = "" })
    @Html.ValidationMessageFor(x => x.Description)
</div>

<div class="form-check form-switch mb-3">
    @Html.CheckBoxFor(x => x.Enabled, new { @class = "form-check-input", role = "switch" })
    @Html.LabelFor(x => x.Enabled, new { @class = "form-check-label" })
</div>