@using ODK.Core.Countries
@using ODK.Core.Members
@using ODK.Services.Countries
@model ODK.Web.Razor.Models.Admin.Members.SubscriptionFormViewModel
@inject ICountryService CountryService
@{
    Country country = await CountryService.GetCountry(Model.CountryId);
    IEnumerable<SelectListItem> typeOptions = new[]
    {
        SubscriptionType.Full,
        SubscriptionType.Partial
    }.Select(x => new SelectListItem { Text = x.ToString() });
}

<div class="form-group mb-3 required">
    @Html.LabelFor(x => x.Name, new { @class = "form-label" })
    @await Html.PartialAsync("Components/_Tooltip", "How to refer to this subscription in the system")
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Name)
</div>

<div class="form-group mb-3 required">
    @Html.LabelFor(x => x.Type, new { @class = "form-label" })
    @Html.DropDownListFor(x => x.Type, typeOptions, new { @class = "form-select" })
    @Html.ValidationMessageFor(x => x.Type)
</div>

<div class="form-group mb-3 required">
    @Html.LabelFor(x => x.Title, new { @class = "form-label" })
    @await Html.PartialAsync("Components/_Tooltip", "Short title visible to members")
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Title)
</div>

<div class="form-group mb-3 required">
    @Html.LabelFor(x => x.Amount, new { @class = "form-label" })
    <div class="input-group mb-3">
        <span class="input-group-text">@country.CurrencySymbol</span>
        @Html.TextBoxFor(x => x.Amount, new { @class = "form-control", type = "number", min = 0, step = 0.01 })
    </div>
    @Html.ValidationMessageFor(x => x.Amount)
</div>

<div class="form-group mb-3 required">
    @Html.LabelFor(x => x.DurationMonths, new { @class = "form-label" })
    @Html.TextBoxFor(x => x.DurationMonths, new { @class = "form-control", type = "number", min = 1 })
    @Html.ValidationMessageFor(x => x.DurationMonths)
</div>

<div class="form-group mb-3 required">
    @Html.LabelFor(x => x.Description, new { @class = "form-label" })
    @Html.TextAreaFor(x => x.Description, new { @class = "form-control", rows = 5 })
    @Html.ValidationMessageFor(x => x.Description)
</div>