@using ODK.Core.Chapters
@using ODK.Core.Countries
@using ODK.Core.Features
@using ODK.Services
@using ODK.Services.Chapters
@using ODK.Services.Countries
@using ODK.Services.Members
@using ODK.Services.Members.ViewModels
@using ODK.Web.Common.Extensions
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Admin.Members
@using ODK.Web.Razor.Models.Components
@model SubscriptionsAdminPageViewModel
@{        
    var (subscriptions, currency, membershipSettings) = 
        (Model.ChapterSubscriptions, Model.Currency, Model.MembershipSettings);
}

<h2 class="d-none d-md-block">Subscriptions</h2>

<section class="section">
    @if (Model.ChapterSubscriptions.Count == 0)
    {
        <p>
            Charge your members a subscription fee to cover your group running costs.
        </p>
    }

    @await Html.PartialAsync("Components/_RestrictedFeature", new RestrictedFeatureViewModel(Model.OwnerSubscription)
    {
        Chapter = Model.Chapter,
        Feature = SiteFeatureType.MemberSubscriptions,
        ContentFunc = 
            @<div>
                @if (Model.MembershipSettings?.Enabled != true)
                {
                    <div class="alert alert-warning">
                        Membership is currently disabled. 
                        <a href="@OdkRoutes.MemberGroups.MembershipSettings(Model.Platform, Model.Chapter)">Update membership settings</a>
                    </div>
                }

                <p>
                    <a href="@OdkRoutes.MemberGroups.MembersSubscriptionCreate(Model.Platform, Model.Chapter)" class="btn btn-primary">
                        Create subscription
                    </a>
                </p>

                <div class="table-responsive">
                    <table class="table table-striped mb-5">
                        <thead>
                        <tr>
                            <th width="16px"></th>
                            <th>Name</th>
                            <th>Amount</th>
                            <th>Months</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var subscription in subscriptions)
                        {
                            <tr>
                                <td>
                                    @if (subscription.Recurring)
                                    {
                                        <i class="fa-solid fa-arrows-spin" data-bs-toggle="tooltip" title="Recurring susbcription"></i>
                                    }
                                </td>    
                                <td>
                                    <a href="@OdkRoutes.MemberGroups.MembersSubscription(Model.Platform, Model.Chapter, subscription)">@subscription.Name</a>
                                </td>                                
                                <td>
                                    @currency?.ToAmountString(subscription.Amount)
                                </td>
                                <td>@subscription.Months</td>
                                <td>
                                    <form method="post" action="/groups/@Model.Chapter.Id/members/subscriptions/@subscription.Id/delete">
                                        <button data-bs-toggle="tooltip" data-bs-title="Delete" class="btn-icon text-danger"
                                                onclick="return confirm('Are you sure you want to delete this subscription?');">
                                            <i class="fas fa-times"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
    })
</section>