@using ODK.Services.Payments.ViewModels
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Admin
@model ChapterPaymentsViewModel
@inject IOdkRoutes OdkRoutes

<div data-odk-component="Admin/Payments/_PaymentsContent">
    <div class="table-responsive">
        <table class="table" data-sortable id="payments-table" data-table-striped>
            <thead>
                <tr>
                    <th data-sortable-sort="default" data-sortable-dir="desc">Date</th>
                    <th data-sortable-sort>Member</th>
                    <th>Reference</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var dto in Model.Payments)
                {
                    var (currency, member, payment) = (dto.Currency, dto.Member, dto.Payment);

                    if (payment.PaidUtc == null)
                    {
                        continue;
                    }

                    <tr>
                        <td>
                            @Model.Chapter.ToChapterTime(payment.PaidUtc.Value).ToString("yyyy-MM-dd HH:mm:ss")
                        </td>
                        <td>
                            <a href="@OdkRoutes.GroupAdmin.MemberPayments(Model.Chapter, member.Id)"
                               data-sort-value="@member.FullName">
                                @member.FullName
                            </a>
                        </td>
                        <td>@payment.Reference</td>
                        <td>
                            @currency.ToAmountString(payment.Amount)
                        </td>                        
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>