@using ODK.Services.Chapters.ViewModels
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Chapters
@model ChapterWithDistanceViewModel
@inject IOdkRoutes OdkRoutes

<div data-odk-component="_ChapterWithLocationTile">
    <div class="card">
        <div class="card-body d-flex flex-column gap-3">
            <a href="@OdkRoutes.Groups.Group(Model.Chapter)"
               class="text-body link-hover link-hover--opacity">
        
                @if (Model.HasImage)
                {                
                    <div class="mb-3">
                        <img src="@OdkRoutes.Groups.Image(Model.Chapter.Id)" />
                    </div>                               
                }

                <div class="d-flex flex-column gap-2">
                    <h6>@Model.Chapter.GetDisplayName(Model.Platform)</h6>
                    @if (Model.Location != null)
                    {
                        <div class="d-flex gap-2 small">
                            <div>
                                @await Html.PartialAsync("Components/_Location", Model.Location.Name)                                
                            </div>                            
                            @if (Model.Distance != null)
                            {
                                <span> | </span>
                                <span>
                                    @Math.Ceiling(Model.Distance.Value) @Model.Distance.Unit.Abbreviation
                                </span>
                            }
                        </div>
                    }                        
                    @if (!string.IsNullOrEmpty(Model.Texts?.Description))
                    {
                        <div class="card-text">
                            @Html.Raw(Model.Texts?.Description)
                        </div>
                    }

                    @if (Model.Topics.Count > 0)
                    {
                        <div>
                            @foreach (var topic in Model.Topics.OrderBy(x => x.Name))
                            {
                                <div class="badge text-bg-secondary">@topic.Name</div>
                            }
                        </div>
                    }
                </div>
            </a>

            @if (Model.IsAdmin)
            {
                @await Html.PartialAsync("Chapters/Admin/_ManageChapterLink", new ManageChapterLinkViewModel
                {
                    Chapter = Model.Chapter,
                    Platform = Model.Platform
                })
            }
        </div>    
    </div>
</div>