@using ODK.Web.Razor.Models.Chapters
@model ChapterQuestionsViewModel

<div class="accordion" id="questions-accordion">
    @for (int i = 0; i < Model.Questions.Count; i++)
    {
        var question = Model.Questions.ElementAt(i);
        var expanded = i == 0;
        var id = $"question-{i}";
        var nameInputId = $"{id}-name";
        var answerInputId = $"{id}-answer";

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button @(!expanded ? "collapsed" : null)" type="button" 
                    data-bs-toggle="collapse" data-bs-target="#question-@i"
                    aria-expanded="@expanded.ToString().ToLower()" aria-controls="@id">
                    @question.Name
                </button>
            </h2>
            <div id="@id" class="accordion-collapse collapse @(i == 0 ? "show" : null)" 
                data-bs-parent="#questions-accordion">
                <div class="accordion-body">
                    @Html.Raw(question.Answer)
                </div>
            </div>            
        </div>
    }
</div>