@using ODK.Core.Utils
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Events
@using ODK.Web.Razor.Models.Payments
@model EventTicketPurchaseViewModel
@{
    if (Model.Event.TicketSettings == null)
    {
        return;
    }

    var ticketsLeft = Model.TicketsLeft;
    var deadlinePassed = Model.Event.RsvpDeadlinePassed;
    var currency = Model.Event.TicketSettings.Currency;
}

<div class="card sidebar-card">
    <div class="card-header">Tickets</div>
    <div class="card-body card-body-sm">
        <div class="d-flex flex-column gap-3">
            @if (deadlinePassed)
            {
                <div class="badge text-bg-danger w-100">
                    Deadline passed
                </div>
            }
            else if (Model.Event.RsvpDeadlineUtc != null)
            {
                <div class="badge text-bg-secondary w-100">
                    Deadline: @Model.Event.RsvpDeadlineUtc.Value.ToFriendlyDateTimeString(Model.Chapter.TimeZone)
                </div>
            }

            @if (Model.AmountRemaining <= 0)
            {
                <p>You have bought a ticket for this event</p>
            }
            else if (Model.AmountPaid > 0 && Model.AmountRemaining > 0)
            {                
                <div>
                    <h5>Complete purchase</h5>
                    <div>
                        Deposit paid: @currency.ToAmountString(Model.AmountPaid)
                    </div>
                    <div>
                        Amount remaining: @currency.ToAmountString(Model.AmountRemaining)
                    </div>                    
                </div>

                <a class="btn btn-primary"
                   href="@OdkRoutes.Groups.EventCheckout(Model.Platform, Model.Chapter, Model.Event.Id)">
                    Complete purchase
                </a>
            }
            else if (ticketsLeft <= 0)
            {
                if (!deadlinePassed)
                {
                    <p>There are no more tickets available for this event</p>
                }                
            }
            else if (Model.Event.TicketSettings.Deposit != null)
            {
                if (!deadlinePassed)
                {                    
                    <div>
                        <h5>Pay deposit</h5>
                        @if (ticketsLeft != null)
                        {
                            <div>
                                Tickets left: @ticketsLeft / @Model.Event.AttendeeLimit
                            </div>
                        }
            
                        <div>
                            Ticket cost: @currency.ToAmountString(Model.Event.TicketSettings.Cost)
                        </div>

                        <div>
                            Deposit: @currency.ToAmountString(Model.Event.TicketSettings.Deposit.Value)
                        </div>
                    </div>

                    <a class="btn btn-primary"
                       href="@OdkRoutes.Groups.EventCheckout(Model.Platform, Model.Chapter, Model.Event.Id)">
                        Pay deposit
                    </a>
                }                
            }
            else
            {
                if (!deadlinePassed)
                {
                    <div>
                        <h5>Purchase ticket</h5>
                        @if (ticketsLeft != null)
                        {
                            <div>
                                Tickets left: @ticketsLeft / @Model.Event.AttendeeLimit
                            </div>
                        }

                        <div>
                            Cost: @currency.ToAmountString(Model.Event.TicketSettings.Cost)
                        </div>
                    </div>

                    <a class="btn btn-primary"
                       href="@OdkRoutes.Groups.EventCheckout(Model.Platform, Model.Chapter, Model.Event.Id)">
                        Buy ticket
                    </a>                  
                }
            }
        </div>        
    </div>
</div>