@using ODK.Core.Utils
@using ODK.Services.Events.ViewModels
@using ODK.Web.Razor.Models.Events
@model EventHeaderViewModel
@{
    var localTime = Model.Event.ToLocalTime(Model.Chapter.TimeZone);
}

@if (Model.Venue != null)
{
    <h5>@Model.Venue.Name</h5>
}

<h6>
    @localTime.ToFriendlyDateString(Model.Chapter.TimeZone)

    @if (localTime.TimeOfDay.TotalSeconds > 0)
    {
        <span>
            @if (Model.Event.EndTime == null)
            {
                <span>from</span>
            }

            <span>@localTime.ToString("HH:mm")</span>

            @if (Model.Event.EndTime != null)
            {
                <span>-</span>
                <span>@TimeSpanUtils.ToString(Model.Event.EndTime)</span>
            }
        </span>
    }
    else if (!string.IsNullOrEmpty(Model.Event.Time))
    {
        <span>@Model.Event.Time</span>
    }
</h6>