@using ODK.Core.Members
@using ODK.Core.Utils
@using ODK.Services.Events.ViewModels
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Razor.Models.Events
@model EventPageViewModel

@if (!Model.CanView)
{
    <p>You are not permitted to view this event</p>
    return;
}

@await Html.PartialAsync("Events/_EventHeader", new EventHeaderViewModel
{
    Chapter = Model.Chapter,
    Event = Model.Event,
    Venue = Model.Venue
})

@if (!string.IsNullOrEmpty(Model.Event.Description))
{
    <div>
        @Html.Raw(Model.Event.Description)
    </div>
}

@if (!string.IsNullOrEmpty(Model.Event.ImageUrl))
{
    <p>
        <img src="@Model.Event.ImageUrl" style="max-height: 500px;" />
    </p>
}

@if (Model.CanRespond && Model.Event.CanComment && Model.Comments.Comments != null)
{
    var memberDictionary = Model.Comments.Members != null
        ? Model.Comments.Members.ToDictionary(x => x.Id)
        : new Dictionary<Guid, Member>();

    <h3 class="mt-5">
        Comments        
    </h3>

    @foreach (var comment in Model.Comments.Comments)
    {
        if (!memberDictionary.TryGetValue(comment.MemberId, out var member))
        {
            continue;
        }

        <div class="mb-3">
            <div>
                <strong>@member.FullName</strong>
                <span>
                    @comment.CreatedUtc.ToFriendlyDateTimeString(Model.Chapter.TimeZone)
                </span>
                <span>
                    <a data-bs-toggle="collapse" href="#comment-reply-@comment.Id" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Reply
                    </a>
                </span>
            </div>
            <div>
                @comment.Text
            </div>
            <div class="collapse" id="comment-reply-@comment.Id">
                <form action="/events/@Model.Event.Id/comments" method="post">
                    @await Html.PartialAsync("Events/_EventCommentForm", new EventCommentFormViewModel
                    {
                        Parent  = comment.Id,
                        Text = ""
                    })
                    <button class="btn btn-primary">Submit</button>
                </form>
            </div>            
        </div>
    }

    <div>
        <form action="/events/@Model.Event.Id/comments" method="post">
            @await Html.PartialAsync("Events/_EventCommentForm", new EventCommentFormViewModel
            {
                Text = ""
            })
            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
}

@if (Model.Venue != null && !string.IsNullOrEmpty(Model.Venue.MapQuery))
{
    var mapQuery = Model.VenueLocation?.Name ?? Model.Venue.MapQuery;

    <h3 class="mt-5">Location</h3>
    <hr/>
    @await Html.PartialAsync("Components/_GoogleMap", new GoogleMapViewModel
    {
        Query = mapQuery
    })
    @if (!string.IsNullOrEmpty(Model.Venue.MapQuery))
    {
        <p>
            <a href="https://maps.google.com?q=@mapQuery" target="_blank">View in Google maps</a>
        </p>
    }    
}
