@using ODK.Core.Utils
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Events
@model ListEventViewModel

<h4 class="d-flex align-items-center">  
    @await Html.PartialAsync("Events/_EventResponseIcon", new EventResponseIconViewModel
    {
        ReadOnly = true,
        ResponseType = Model.Event.Response
    })
    
    <a href="@OdkRoutes.Events.Event(Model.Platform, Model.Chapter, Model.Event.EventId)" class="@(Model.Event.Response > 0 ? "ms-1" : null)">
        @Model.Event.EventName
    </a>
</h4>
<h5>
    @Model.Event.Date.EventDate(true)
</h5>
<div>@Model.Event.VenueName</div>