@using ODK.Services.Authorization
@using ODK.Web.Common.Extensions
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Razor.Pages.Chapters
@model ODK.Web.Razor.Models.Components.BodyWithSidebarViewModel

<main id="main" class="@Model.Class">
    @await Html.PartialAsync("Components/_PageTitle", new PageTitleViewModel
    {
        Content = Model.TitleContent,
        Title = Model.Title,
        WidthClass = Model.WidthClass
    })

    @if (Model.Menu != null)
    {
        @Model.Menu
    }

    <div class="container">
        <div class="row @(Model.WidthClass != null ? "justify-content-center" : null)">
            <div class="@(Model.WidthClass ?? "col-12")">                
                <div class="page-alerts">
                    @if (!Model.HideSubscriptionAlert)
                    {
                        @await Html.PartialAsync("Members/_SubscriptionAlert")
                    }
                </div>

                <section class="section--main">
                    @if (Model.Breadcrumbs != null)
                    {
                        @await Html.PartialAsync("Components/_Breadcrumbs", new BreadcrumbsViewModel
                        {
                            Breadcrumbs = Model.Breadcrumbs
                        })
                    }
            
                    @await Html.PartialAsync("Feedback/_Feedback")

                    <div class="row">
                        <div class="col-xl-9 col-md-8 order-2 order-md-1">
                            @if (Model.Content != null)
                            {
                                @Model.Content
                            }

                            @Model.ContentFunc?.Invoke(null)
                        </div>
                        <div class="col-xl-3 col-md-4 order-1 order-md-2">
                            @if (Model.SidebarContent != null)
                            {
                                @Model.SidebarContent
                            }
                        </div>
                    </div>
                </section>
            </div>        
        </div>    
    </div>
</main>
