@using ODK.Web.Razor.Models.Components
@model EditableFormViewModel

@if (!Model.IsAdmin)
{
    return;
}

<section class="@Model.Class">
    @if (!string.IsNullOrEmpty(Model.Title))
    {
        <h3>@Model.Title</h3>
    }

    @if (!Model.IsAdmin)
    {
        @Model.TextContent.Invoke(null)
    }
    else
    {
        var editId = $"{Model.Id}-edit";

        <div id="@Model.Id">
            @Model.TextContent.Invoke(null)

            <button class="btn btn-link p-0" type="button"
                    data-collapse-toggle-show="#@editId"
                    data-collapse-toggle-hide="#@Model.Id">                
                @if (Model.IsCreate)
                {
                    <i class="fa-solid fa-plus"></i>
                    <span>Create</span>
                }
                else
                {
                    <i class="fa-regular fa-pen-to-square"></i>
                    <span>Edit</span>
                }
            </button>
        </div>

        <div id="@editId" class="d-none">
            <form action="@Model.Action" method="post">
                @Html.AntiForgeryToken()
                @Model.FormContent.Invoke(null)
                
                <div class="button-container">
                    <button class="btn btn-primary">
                        @if (Model.IsCreate)
                        {
                            @:Create
                        }
                        else
                        {
                            @:Update
                        }
                    </button>
                    <button class="btn btn-outline-secondary" type="button"
                            data-collapse-toggle-show="#@Model.Id"
                            data-collapse-toggle-hide="#@editId">
                        Cancel
                    </button>

                    @if (Model.ButtonContent != null)
                    {
                        @Model.ButtonContent.Invoke(null)
                    }                    
                </div>                
            </form>
        </div>
    }
</section>