@using ODK.Web.Razor.Models.Components
@model EditableTextViewModel

@if (string.IsNullOrEmpty(Model.Text) && !Model.IsAdmin)
{
    return;
}

<section class="@Model.Class">
    @if (!string.IsNullOrEmpty(Model.Title))
    {
        <h3>@Model.Title</h3>
    }    

    @if (!Model.IsAdmin)
    {
        @await Html.PartialAsync("Components/_Paragraphs", Model.Text)
    }
    else
    {
        var editId = $"{Model.Id}-edit";
        
        <div id="@Model.Id">
            @await Html.PartialAsync("Components/_Paragraphs", Model.Text)
            <button class="btn btn-link p-0" type="button"
                    data-collapse-toggle-show="#@editId"
                    data-collapse-toggle-hide="#@Model.Id">
                @if (Model.IsCreate)
                {
                    <i class="fa-solid fa-plus"></i>
                    <span>Create</span>
                }
                else
                {
                    @await Html.PartialAsync("Components/Icons/_Edit")
                    <span>Edit</span>
                }
            </button>
        </div>

        <div id="@editId" class="d-none">
            <form action="@Model.Action" method="post">
                @Html.AntiForgeryToken()
                <div class="form-group mb-3">
                    <textarea class="form-control" name="@Model.Name">@Model.Text</textarea>
                </div>
                <button class="btn btn-primary">
                    @if (Model.IsCreate)
                    {
                        @:Create
                    }
                    else
                    {
                        @:Update
                    }
                </button>
                <button class="btn btn-outline-secondary" type="button"
                        data-collapse-toggle-show="#@Model.Id"
                        data-collapse-toggle-hide="#@editId">
                    Cancel
                </button>
            </form>
        </div>
    }   
</section>