@using ODK.Web.Razor.Models.Components
@model PaginationViewModel
@{
    @*TODO: restrict number of visible pages
    Not an issue right now since nowhere in the site has a large # of pages right now
    e.g. < 1 2 3 ... 12 [13] 14 ... 98 99 100 >
    *@
}

<nav aria-label="@Model.AccessibilityLabel">
    <ul class="pagination">
        <li class="page-item @(Model.Page <= 1 ? "disabled" : null)">
            <a class="page-link" href="@Model.GetPageUrl(Model.Page - 1)" 
                data-bs-toggle="tooltip" title="Previous">
                @await Html.PartialAsync("Components/_Icon", new IconViewModel(IconType.AngleLeft))
            </a>
        </li>
        @for (var page = 1; page <= Model.TotalPages; page++)
        {
            <li class="page-item @(page == Model.Page ? "active" : null)">
                <a class="page-link" href="@Model.GetPageUrl(page)">@(page)</a>
            </li>
        }
        <li class="page-item @(Model.Page >= Model.TotalPages ? "disabled" : null)">
            <a class="page-link" href="@Model.GetPageUrl(Model.Page + 1)"
               data-bs-toggle="tooltip" title="Next">
                @await Html.PartialAsync("Components/_Icon", new IconViewModel(IconType.AngleRight))
            </a>
        </li>
    </ul>
</nav>