@using ODK.Web.Razor.Models.Components
@model PanelViewModel

<section class="panel" data-odk-component="_Panel">
    <div class="panel-header">
        
        @if (Model.TitleContentFunc != null) 
        {
            <div class="panel-title">
                @Model.TitleContentFunc.Invoke(null)
            </div>
        }
        else if (!string.IsNullOrEmpty(Model.Title))
        {
            <div class="panel-title">
                @Model.Title
            </div>
        }

        @if (Model.TitleEndContentFunc != null)
        {
            <div class="panel-title-end">
                @Model.TitleEndContentFunc.Invoke(null)
            </div>
        }
    </div>    
    <div class="panel-body">
        @if (Model.BodyContentFunc != null)
        {
            @Model.BodyContentFunc.Invoke(null)
        }        

        @if (Model.BodyContent != null)
        {
            @Model.BodyContent
        }
    </div>    
</section>