@using ODK.Web.Common.Components
@using ODK.Web.Razor.Models.Components
@model SideMenuViewModel
@{
    var allMenuItems = Model
        .MenuItems
        .SelectMany(x => x.Expand())
        .ToArray();
    
    var active = Model.Active != null
        ? Model.Active
        : allMenuItems.Active(Context.Request.Path);

    var closestActive = active == null && Model.Root
        ? allMenuItems.Closest(Context.Request.Path)
        : null;

    if (active == null)
    {
        active = closestActive;
    }
}

<div data-odk-component="_SideMenu">            
    <ul class="side-menu">
        @foreach (var menuItem in Model.MenuItems)
        {
            var children = active != null && active.DescendantOf(menuItem) && menuItem.Children != null
                ? menuItem.Children
                : [];

            <li>
                <a class="nav-link text-nowrap @(menuItem == active ? "active" : "")" href="@menuItem.Link">
                    @menuItem.Text
                </a>

                @if (children.Count > 0)
                {
                    <ul class="side-menu">
                        @foreach (var child in children)
                        {
                            <li>
                                <a class="nav-link text-nowrap @(child == active ? "active" : "")" href="@child.Link">
                                    @child.Text
                                </a>
                            </li>
                        }
                    </ul>
                }
            </li>
        }
    </ul>
</div>