@using ODK.Web.Common.Components
@using ODK.Web.Razor.Models.Components
@model SocialMediaLinksViewModel
@{
    var sizeClass = Model.Large ? "fa-2x" : null;
}

@if (!string.IsNullOrEmpty(Model.Instagram))
{
    var url = $"https://www.instagram.com/{Model.Instagram}";

    <div>        
        <a class="social-media-link" href="@url" target="_blank">
            @await Html.PartialAsync("Components/_Icon", new IconViewModel(IconType.Instagram)
            {
                Class = $"social-media-icon--instagram {sizeClass}"
            })
            @if (Model.ShowNames)
            {
                <span>@Model.Instagram</span>
            }
        </a>
    </div>
}

@if (!string.IsNullOrEmpty(Model.Facebook))
{
    var url = $"https://www.facebook.com/{Model.Facebook}";

    <div>        
        <a class="social-media-link" href="@url" target="_blank">
            @await Html.PartialAsync("Components/_Icon", new IconViewModel(IconType.Facebook)
            {
                Class = $"social-media-icon--facebook {sizeClass}"
            })
            
            @if (Model.ShowNames)
            {
                <span>@Model.Facebook</span>
            }            
        </a>
    </div>
}

@if (!string.IsNullOrEmpty(Model.Twitter))
{
    var url = $"https://www.x.com/{Model.Twitter}";

    <div>
        <a class="social-media-link" href="@url" target="_blank">
            @await Html.PartialAsync("Components/_Icon", new IconViewModel(IconType.Twitter)
            {
                Class = $"social-media-icon--twitter {sizeClass}"
            })

            @if (Model.ShowNames)
            {
                <span>@Model.Twitter</span>
            }           
        </a>
    </div>
}