@using ODK.Web.Razor.Extensions
@using ODK.Web.Razor.Models.Components
@model TabsViewModel
@{
    var activeMenuItem = Model.MenuItems
        .FirstOrDefault(x => x.Active);

    if (activeMenuItem == null)
    {
        activeMenuItem = Model.MenuItems
            .FirstOrDefault(x => Context.ForPath(x.Link, exactMatch: true));
    }
}

<ul class="nav nav-underline my-3 @Model.Class" data-odk-tabs>
    @foreach (var menuItem in Model.MenuItems)
    {
        var active = menuItem.Link == activeMenuItem?.Link;

        var isJsTab = menuItem.Link?.StartsWith("#") == true;

        <li class="nav-item">
            @if (isJsTab)
            {
                <button class="nav-link @(active ? "active" : null)" type="button"
                        data-bs-toggle="tab" data-bs-target="@menuItem.Link">
                    @menuItem.Text
                </button>
            }
            else
            {
                <a class="nav-link @(active ? "active" : null)" href="@menuItem.Link">
                    @menuItem.Text
                </a>
            }            
        </li>
    }    
</ul>