@using ODK.Core.Chapters
@using ODK.Web.Common.Extensions
@using ODK.Web.Razor.Models.Admin.Chapters
@model ChapterPrivacySettingsFormViewModel

<div class="form-group mb-3">
    @Html.LabelFor(x => x.EventVisibility, new { @class = "form-label" })
    @Html.OdkEnumDropDownFor(x => x.EventVisibility, "", new { @class = "form-select" })
    @Html.ValidationMessageFor(x => x.EventVisibility)
</div>

<div class="form-group mb-3">
    @Html.LabelFor(x => x.EventResponseVisibility, new { @class = "form-label" })
    @Html.OdkEnumDropDownFor(x => x.EventResponseVisibility, "", new { @class = "form-select" }, new[] { ChapterFeatureVisibilityType.Public })
    @Html.ValidationMessageFor(x => x.EventResponseVisibility)
</div>

<div class="form-group mb-3">
    @Html.LabelFor(x => x.VenueVisibility, new { @class = "form-label" })
    @Html.OdkEnumDropDownFor(x => x.VenueVisibility, "", new { @class = "form-select" })
    @Html.ValidationMessageFor(x => x.VenueVisibility)
</div>

@*<div class="form-group mb-3">
    @Html.LabelFor(x => x.MemberVisibility, new { @class = "form-label" })
    @Html.OdkEnumDropDownFor(x => x.MemberVisibility, "", new { @class = "form-select" })
    @Html.ValidationMessageFor(x => x.MemberVisibility)
</div>*@