@using ODK.Core.Chapters
@using ODK.Services
@using ODK.Services.Chapters
@using ODK.Web.Common.Extensions
@model ODK.Core.Chapters.Chapter
@inject IChapterAdminService ChapterAdminService
@{
    var memberId = User.MemberId();
    var serviceRequest = new AdminServiceRequest(Model.Id, memberId);
    var properties = await ChapterAdminService.GetChapterProperties(serviceRequest);
}

<h2>Member properties</h2>
<p>
    The member properties are additional personal questions asked to members when they sign up. Answers are visible to other members.
</p>
<p>
    <a href="/@Model.Name/Admin/Chapter/Properties/Create" class="btn btn-primary">
        Create property
    </a>
</p>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Label</th>
        <th>Name</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (ChapterProperty property in properties.OrderBy(x => x.DisplayOrder))
    {
        <tr>
            <td>
                <a href="/@Model.Name/Admin/Chapter/Properties/@property.Id">@property.Label</a>
            </td>
            <td>@property.Name</td>
            <td>
                <div class="d-flex">
                    <form method="post" action="/@Model.Name/Admin/Chapter/Properties/@property.Id/MoveUp">
                        @Html.AntiForgeryToken()
                        <button data-bs-toggle="tooltip" data-bs-title="Move up" class="btn btn-icon text-secondary">
                            <i class="fas fa-arrow-circle-up"></i>
                        </button>
                    </form>
                    <form method="post" action="/@Model.Name/Admin/Chapter/Properties/@property.Id/MoveDown">
                        @Html.AntiForgeryToken()
                        <button data-bs-toggle="tooltip" data-bs-title="Move down" class="btn btn-icon text-secondary">
                            <i class="fas fa-arrow-circle-down"></i>
                        </button>
                    </form>
                </div>                
            </td>
            <td>
                <form method="post" action="/@Model.Name/Admin/Chapter/Properties/@property.Id/Delete">
                    @Html.AntiForgeryToken()
                    <button data-bs-toggle="tooltip" data-bs-title="Delete" class="btn-icon text-danger"
                            onclick="return confirm('Are you sure you want to delete this property?');">
                        <i class="fas fa-times"></i>
                    </button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>