@model ODK.Web.Razor.Models.Admin.Chapters.ChapterTextsFormViewModel

<div class="form-group mb-3">
    @Html.LabelFor(x => x.Description, new { @class = "form-label" })
    @Html.TextAreaFor(x => x.Description, new { @class = "form-control", rows = 6, data_html_editor = "" })
    @Html.ValidationMessageFor(x => x.Description)
</div>

<div class="form-group mb-3 required">
    @Html.LabelFor(x => x.RegisterMessage, new { @class = "form-label" })
    @Html.TextAreaFor(x => x.RegisterMessage, new { @class = "form-control", rows = 6, data_html_editor = "" })
    @Html.ValidationMessageFor(x => x.RegisterMessage)
</div>

<div class="form-group mb-3 required">
    @Html.LabelFor(x => x.WelcomeMessage, new { @class = "form-label" })
    @Html.TextAreaFor(x => x.WelcomeMessage, new { @class = "form-control", rows = 6, data_html_editor = "" })
    @Html.ValidationMessageFor(x => x.WelcomeMessage)
</div>