@using ODK.Core.Events
@using ODK.Core.Utils
@using ODK.Core.Venues
@using ODK.Services.Events
@using ODK.Services.Venues
@using ODK.Web.Common.Extensions
@model ODK.Core.Chapters.Chapter
@inject IEventAdminService EventAdminService
@inject IVenueAdminService VenueAdminService
@{
    var memberId = User.MemberId();

    var dto = await EventAdminService.GetEventsDto(memberId, Model.Id, 1, 30);

    var (events, venues, allInvites, allResponses) = (dto.Events, dto.Venues, dto.Invites, dto.Responses);

    var venueDictionary = venues.ToDictionary(x => x.Id);

    var invitesDictionary = allInvites
        .ToDictionary(x => x.EventId);

    var responseDictionary = allResponses
        .ToDictionary(x => x.EventId);
}

<h2>Events</h2>
<p>
    <a class="btn btn-primary" href="/@Model.Name/Admin/Events/Create">Create</a>
</p>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Venue</th>
        <th><i class="fas fa-envelope"></i></th>
        <th><i class="fas fa-check-circle text-success"></i></th>
        <th><i class="fas fa-question-circle text-warning"></i></th>
        <th><i class="fas fa-times-circle text-danger"></i></th>
    </tr>
    </thead>
    <tbody>
    @foreach (Event @event in events)
    {
        invitesDictionary.TryGetValue(@event.Id, out var eventInvites);
        responseDictionary.TryGetValue(@event.Id, out var eventResponses);
        
        var venue = venueDictionary[@event.VenueId];

        <tr>
            <td><a href="/@Model.Name/Admin/Events/@(@event.Id)">@(@event.Name)</a></td>
            <td>@(@event.Date.EventDate())</td>
            <td><a href="/@Model.Name/Admin/Venues/@venue.Id">@venue.Name</a></td>
            <td>
                @if (eventInvites?.SentDate == null)
                {
                    <a href="/@Model.Name/Admin/Events/@(@event.Id)/Invites">
                        @(eventInvites?.ScheduledDate != null ? "Scheduled" : "Send")
                    </a>
                }
                else
                {
                    @eventInvites.Sent
                }
            </td>
            <td>@(eventResponses?.Yes ?? 0)</td>
            <td>@(eventResponses?.Maybe ?? 0)</td>
            <td>@(eventResponses?.No ?? 0)</td>
        </tr>
    }
    </tbody>
</table>