@using ODK.Core.Utils
@model ODK.Web.Razor.Models.Admin.Events.EventSettingsFormViewModel
@{
    var dayOfWeekOptions = DateUtils
        .DaysOfWeek(DayOfWeek.Monday)
        .Select(x => new SelectListItem { Value = ((int)x).ToString(), Text = x.ToString() })
        .ToArray();
}

<div class="mb-3 form-check">
    @Html.CheckBoxFor(x => x.DisableComments, new { @class = "form-check-input" })
    @Html.LabelFor(x => x.DisableComments, new { @class = "form-check-label" })
</div>

<div class="form-group mb-3">
    @Html.LabelFor(x => x.DefaultDayOfWeek, new { @class = "form-label" })
    @Html.DropDownListFor(x => x.DefaultDayOfWeek, dayOfWeekOptions, " ", new { @class = "form-select" })
</div>

<div class="form-group mb-3">
    @Html.LabelFor(x => x.DefaultScheduledEmailDayOfWeek, new { @class = "form-label" })
    @Html.DropDownListFor(x => x.DefaultScheduledEmailDayOfWeek, dayOfWeekOptions, " ", new { @class = "form-select" })
</div>

<div class="form-group mb-3">
    @Html.LabelFor(x => x.DefaultScheduledEmailTimeOfDay, new { @class = "form-label" })
    @Html.TextBoxFor(x => x.DefaultScheduledEmailTimeOfDay, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.DefaultScheduledEmailTimeOfDay)
</div>

<div class="form-group mb-3">
    @Html.LabelFor(x => x.DefaultDescription, new { @class = "form-label" })
    @Html.TextAreaFor(x => x.DefaultDescription, new { @class = "form-control", rows = 8, data_html_editor = "" })
    @Html.ValidationMessageFor(x => x.DefaultDescription)
</div>