@model ODK.Web.Razor.Models.SiteAdmin.FeatureFormViewModel
@{
}

<div class="form-group mb-3 required">
    @Html.LabelFor(x => x.Name, new { @class = "form-label" })
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Name)
</div>

<div class="form-group mb-3 required">
    @Html.LabelFor(x => x.Description, new { @class = "form-label" })
    @Html.TextAreaFor(x => x.Description, new { @class = "form-control", data_html_editor = "" })
    @Html.ValidationMessageFor(x => x.Description)
</div>