@using ODK.Core.Chapters
@using ODK.Core.Payments
@using ODK.Services
@using ODK.Services.Chapters
@using ODK.Services.Payments
@using ODK.Web.Common.Extensions
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.SiteAdmin
@model IReadOnlyCollection<SitePaymentSettings>
@inject IOdkRoutes OdkRoutes

<div data-odk-component="_SiteAdmin/_PaymentsContent">
    <h2 class="d-none d-md-block">Payment settings</h2>

    <section class="section">
        <p>
            <a class="btn btn-primary" href="@OdkRoutes.SiteAdmin.PaymentCreate">
                Create
            </a>
        </p>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Provider</th>
                        <th>Enabled</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var paymentSetting in Model)
                    {
                        <tr>
                            <td>
                                <a href="@OdkRoutes.SiteAdmin.Payment(paymentSetting.Id)">@paymentSetting.Name</a>
                            </td>
                            <td>@paymentSetting.Provider</td>
                            <td>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" disabled
                                           checked="@(paymentSetting.Enabled ? "" : null)" />
                                </div>
                            </td>
                            <td>
                                @if (paymentSetting.Active)
                                {
                                    @:Active
                                }
                                else
                                {
                                    <form action="/siteadmin/payments/@paymentSetting.Id/activate" method="post">
                                        <button class="btn btn-primary">Activate</button>
                                    </form>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>        
    </section>
</div>