@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Members
@model ListMemberViewModel
@inject IOdkRoutes OdkRoutes
@{
    var showTooltip = Model.HideName && User.Identity?.IsAuthenticated == true;
}

<div class="member-tile @(Model.HideName ? "member-tile-sm" : null)">
    <a href="@OdkRoutes.Groups.Member(Model.Chapter, Model.Member.Id)" 
       data-bs-toggle="@(showTooltip ? "tooltip" : "")" 
       data-bs-title="@(showTooltip ? Model.Member.FullName : "")" container="body">

        <div class="d-flex align-items-end justify-content-center">
           @await Html.PartialAsync("Members/_MemberAvatar", new MemberAvatarViewModel
            {
                IsTop = !Model.HideName,
                Member = Model.Member,
                MaxWidth = Model.MaxWidth,
                Version = Model.AvatarVersion
            })
        </div>
            
        @if (!Model.HideName)
        {
            <div>@Model.Member.FullName</div>
        }
    </a>
</div>