@using ODK.Core.Chapters
@using ODK.Core.Extensions
@using ODK.Core.Members
@using ODK.Services.Members
@using ODK.Services.Members.ViewModels
@using ODK.Web.Common.Extensions
@model MemberPageViewModel
@{
    var chapterPropertyDictionary = Model.ChapterProperties.ToDictionary(x => x.Id);
    var memberPropertyDictionary = Model.MemberProperties.ToDictionary(x => x.ChapterPropertyId);
    var memberProperties = Model.MemberProperties
        .OrderBy(x => chapterPropertyDictionary[x.ChapterPropertyId].DisplayOrder)
        .ToArray();

    var joined = Model.Member.MemberChapter(Model.Chapter.Id).CreatedUtc;
}

<form>
    @foreach (var property in memberProperties)
    {
        if (string.IsNullOrEmpty(property.Value))
        {
            continue;
        }

        if (!chapterPropertyDictionary.TryGetValue(property.ChapterPropertyId, out var chapterProperty))
        {
            continue;
        }

        <div class="form-group mb-3">
            <label class="form-label">@chapterProperty.Label</label>
            <div class="form-control-plaintext">
                @if (chapterProperty.Name == "facebook")
                {
                    string url = $"https://www.facebook.com/{property.Value}";
                    <a href="@url" target="_blank">@url</a>
                }
                else
                {
                    <span>@property.Value</span>   
                }
            </div>
        </div>
    }
    
    <div class="form-group mb-3">
        <label class="form-label">Date joined</label>
        <div class="form-control-plaintext">
            <span>@TimeZoneEntityExtensions.ToLocalTime(Model.Chapter, joined).ToString("d MMMM yyyy")</span>
        </div>
    </div>
</form>