@using ODK.Web.Razor.Models.Payments
@model PaymentFormViewModel

<div data-paypal-container="@Model.Id"
     data-paypal-currencycode="@Model.Currency.Code"
     data-paypal-amount="@Model.Amount.ToString("0.00")">
    <p>
        @Html.Raw(Model.Description)
    </p>
    <p>
        <span>@Model.Currency.ToAmountString(Model.Amount)</span>
    </p>    
    <input data-paypal-token type="hidden" name="token" />
</div>