@using ODK.Core.Events
@using ODK.Core.Utils
@using ODK.Services
@using ODK.Services.Events
@using ODK.Services.Venues.ViewModels
@using ODK.Web.Common.Components
@using ODK.Web.Common.Extensions
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Admin.Events
@using ODK.Web.Razor.Models.Components
@model VenueEventsAdminPageViewModel

@await Html.PartialAsync("Components/_Breadcrumbs", new BreadcrumbsViewModel
{
    Breadcrumbs = new[]
    {
        new MenuItem
        {
            Link = OdkRoutes.MemberGroups.Venues(Model.Platform, Model.Chapter),
            Text = "Venues"
        },
        new MenuItem { Text = Model.Venue.Name }
    }
})

@await Html.PartialAsync("Admin/Venues/_VenueAdminTabs", new VenueAdminTabsViewModel
{
    Chapter = Model.Chapter,
    Platform = Model.Platform,
    Venue = Model.Venue
})

<p>
    <a href="@OdkRoutes.MemberGroups.EventCreate(Model.Platform, Model.Chapter)?venueId=@Model.Venue.Id" class="btn btn-primary">
        Create event
    </a>
</p>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var @event in Model.Events.OrderByDescending(x => x.Date))
        {
            <tr>
                <td>
                    <a href="@OdkRoutes.MemberGroups.Event(Model.Platform, Model.Chapter, @event.Id)">@(@event.GetDisplayName())</a>
                </td>
                <td>@(@event.Date.EventDate())</td>
            </tr>
        }
        </tbody>
    </table>
</div>