@using ODK.Core.Countries
@using ODK.Web.Razor.Models.Components
@model ODK.Web.Razor.Models.Admin.Venues.VenueFormViewModel

<div class="form-group mb-3 required">
    @Html.LabelFor(x => x.Name, new { @class = "form-label" })
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Name)
</div>

<div class="form-group mb-3">
    @Html.LabelFor(x => x.Address, new { @class = "form-label" })
    <span class="ms-1 text-muted">Additional location information, if required</span>
    @Html.TextBoxFor(x => x.Address, new { @class = "form-control" })
</div>

<div class="form-group mb-3 required">
    @Html.LabelFor(x => x.LocationName, new { @class = "form-label" })
    @await Html.PartialAsync("Components/_LocationPicker", Model)
    @Html.ValidationMessageFor(x => x.LocationName)
</div>

<div class="my-3">
    @await Html.PartialAsync("Components/_GoogleMap", new GoogleMapViewModel
    {
        LatLong = LatLong.FromCoords(Model.Lat, Model.Long),
        QuerySource = "#" + Html.IdFor(x => x.LocationName)        
    })
</div>