@using ODK.Core.Utils
@using ODK.Services.Venues.ViewModels
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Admin
@using ODK.Web.Razor.Models.Components
@model VenuesAdminPageViewModel
@inject IOdkRoutes OdkRoutes

<p>
    @await Html.PartialAsync("Admin/_AdminLink", new AdminLinkViewModel
    {
        Class = "btn btn-primary",
        Route = OdkRoutes.GroupAdmin.VenueCreate(Model.Chapter),
        Text = "Create"
    })
</p>

<div>
    @await Html.PartialAsync("Components/_Tabs", new TabsViewModel
    {
        MenuItems = new[]
        {
            new MenuItem
            {
                Text = $"Active ({Model.ActiveVenueCount})",
                Active = !Model.Archived,
                Link = OdkRoutes.GroupAdmin.Venues(Model.Chapter, archived: false).Path
            },
            new MenuItem
            {
                Text = $"Archived ({Model.ArchivedVenueCount})",
                Active = Model.Archived,
                Link = OdkRoutes.GroupAdmin.Venues(Model.Chapter, archived: true).Path
            }
        }
    })
</div>

<div class="table-responsive">
    <table class="table table-striped" data-sortable>
        <thead>
            <tr>
                <th data-sortable-sort="default">Name</th>
                <th>Address</th>
                <th data-sortable-sort data-sortable-dir="desc">Events</th>
                <th data-sortable-sort data-sortable-dir="desc">Last Event</th>
                <th class="tcol-narrow"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var venueDto in Model.Venues.OrderBy(x => x.Venue.Name))
            {
                var (venue, lastEvent) = (venueDto.Venue, venueDto.LastEvent);

                <tr>
                    <td>
                        <span class="d-none" data-sort-value="@venue.Name"></span>
                        @await Html.PartialAsync("Admin/_AdminLink", new AdminLinkViewModel
                        {
                            Route = OdkRoutes.GroupAdmin.Venue(Model.Chapter, venue.Id),
                            Text = venue.Name
                        })
                    </td>
                    <td>@venue.MapQuery</td>
                    <td>@venueDto.EventCount</td>
                    <td>
                        @if (lastEvent != null)
                        {
                            <span class="d-none" data-sort-value="@lastEvent.Date.ToString("yyyy-MM-dd")"></span>
                            <span>@lastEvent.Date.EventDate(Model.Chapter.TimeZone)</span>
                        }
                    </td>
                    <td>
                        @if (!Model.Archived)
                        {
                            <form method="post" action="/groups/@Model.Chapter.Id/venues/@venue.Id/archive">
                                <button type="submit" class="btn btn-icon">
                                    <span data-bs-toggle="tooltip" data-bs-title="Archive">
                                        @await Html.PartialAsync("Components/_Icon", new IconViewModel(IconType.Archive))
                                    </span>
                                </button>                                
                            </form>
                        }
                        else
                        {
                            <form method="post" action="/groups/@Model.Chapter.Id/venues/@venue.Id/restore">
                                <button type="submit" class="btn btn-icon">
                                    <span data-bs-toggle="tooltip" data-bs-title="Restore">
                                        @await Html.PartialAsync("Components/_Icon", new IconViewModel(IconType.Undo))
                                    </span>
                                </button>
                            </form>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>