@using ODK.Core.Chapters
@using ODK.Core.Events
@using ODK.Services.Chapters.ViewModels
@using ODK.Services.Events
@using ODK.Services.Events.ViewModels
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Chapters
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Razor.Models.Events
@model GroupHomePageViewModel
@inject IOdkRoutes OdkRoutes

<div class="row">
    <div class="col-lg-7">
        <div class="d-flex flex-column gap-5">
            @if (!string.IsNullOrEmpty(Model.Texts?.Description))
            {
                @await Html.PartialAsync("Components/_Panel", new PanelViewModel
                {
                    TitleContentFunc = @<h3>About</h3>,
                    BodyContentFunc = 
                        @<div>
                            @Html.Raw(Model.Texts?.Description)
                        </div>
                })
            }
            
            @if (!Model.IsMember)
            {
                <section class="panel">
                    <div class="panel-header">
                        <h3 class="panel-title">Join us</h3>
                    </div>

                    @if (!string.IsNullOrEmpty(Model.Texts?.WelcomeText))
                    {
                        <div class="mb-3">
                            @Html.Raw(Model.Texts.WelcomeText)
                        </div>
                    }                    

                    <a href="@OdkRoutes.Groups.Join(Model.Chapter)" class="btn btn-success">
                        Join
                    </a>
                </section>
            }

            @if (Model.UpcomingEvents.Count > 0)
            {
                @await Html.PartialAsync("Components/_Panel", new PanelViewModel
                {
                    TitleContentFunc = @<h3>Upcoming events</h3>,
                        TitleEndContentFunc = @<a href="@OdkRoutes.Groups.Events(Model.Chapter)">See all</a>,
                    BodyContentFunc = 
                        @<div>
                            @await Html.PartialAsync("Events/_EventList", new EventListViewModel
                            {
                                Chapter = Model.Chapter,
                                Events = Model.UpcomingEvents
                                    .Select(x => new EventResponseViewModel(
                                        @event: x.Event, 
                                        venue: x.Venue, 
                                        response: x.Response?.Type ?? EventResponseType.None, 
                                        invited: false,
                                        responseSummary: x.ResponseSummary))
                                    .ToArray(),
                                Platform = Model.Platform,
                                TimeZone = Model.Chapter.TimeZone ?? Chapter.DefaultTimeZone
                            })
                        </div>
                })                
            }

            @if (Model.RecentEvents.Count > 0)
            {
                @await Html.PartialAsync("Components/_Panel", new PanelViewModel
                {
                    TitleContentFunc = @<h3>Recent events</h3>,
                    TitleEndContentFunc = @<a href="@OdkRoutes.Groups.PastEvents(Model.Chapter)">See all</a>,
                    BodyContentFunc = 
                        @<div>
                            @await Html.PartialAsync("Events/_EventList", new EventListViewModel
                            {
                                Chapter = Model.Chapter,
                                Events = Model.RecentEvents
                                    .Select(x => new EventResponseViewModel(
                                        @event: x.Event, 
                                        venue: x.Venue, 
                                        response: x.Response?.Type ?? EventResponseType.None, 
                                        invited: false,
                                        responseSummary: x.ResponseSummary))
                                    .ToArray(),
                                Platform = Model.Platform,
                                TimeZone = Model.Chapter.TimeZone ?? Chapter.DefaultTimeZone
                            })
                        </div>
                })
            } 
        </div>               
    </div>    
    <div class="col-lg-4 offset-lg-1">
        @await Html.PartialAsync("Groups/Home/_GroupContentSidebar", Model)
    </div>
</div>