@using ODK.Core.Utils
@using ODK.Services.Chapters.ViewModels
@using ODK.Web.Common.Routes
@using ODK.Web.Common.Services
@using ODK.Web.Razor.Models.Chapters
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Razor.Models.Contact
@model ChapterConversationsViewModel
@inject IOdkRoutes OdkRoutes
@inject IRequestStore RequestStore
@{
    var platform = RequestStore.Platform;

    var chapterDictionary = Model.Chapters?.ToDictionary(x => x.Id) ?? new();
}

@if (Model.Conversations.Count > 0 || Model.Chapter == null || Model.Archived)
{    
    <div class="mt-3">
        @await Html.PartialAsync("Components/_Tabs", new TabsViewModel
        {
            MenuItems = new[]
            {
                new MenuItem 
                {
                    Active = !Model.Archived, 
                    Text = $"Active ({Model.ActiveConversationCount})", 
                    Link = Model.ConversationsUrlFunc(false)
                },
                new MenuItem 
                { 
                    Active = Model.Archived, 
                    Text = $"Archived ({Model.ArchivedConversationCount})", 
                    Link = Model.ConversationsUrlFunc(true) 
                }
            }
        })
    </div>

    @if (!Model.Archived && Model.Chapter != null)
    {
        <div class="mt-3">
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#new-conversation-modal">
                @await Html.PartialAsync("Components/_Icon", new IconViewModel(IconType.Message))
                <span>New conversation</span>
            </button>
        </div>
    }

    <section class="section mt-3">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Subject</th>
                        @if (Model.Chapter == null)
                        {
                            <th>Group</th>
                        }
                        <th></th>
                        <th>Started</th>
                        <th>Last message</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var dto in Model.Conversations.OrderByDescending(x => x.LastMessage.Message.CreatedUtc))
                    {
                        <tr>
                            <td>
                                <a href="@Model.ConversationUrlFunc(dto.Conversation.Id)">
                                    @dto.Conversation.Subject
                                </a>
                            </td>

                            @if (Model.Chapter == null)
                            {
                                chapterDictionary.TryGetValue(dto.Conversation.ChapterId, out var chapter);
                                <td>
                                    @if (chapter != null)
                                    {
                                        <a href="@OdkRoutes.Groups.Group(chapter)">
                                            @chapter.GetDisplayName(platform)
                                        </a>
                                    }
                                </td>
                            }                            

                            <td>
                                <span>@await Html.PartialAsync("Components/_Icon", new IconViewModel(IconType.Message))</span>
                                <span>@dto.MessageCount</span>
                            </td>

                            <td>
                                @dto.Conversation.CreatedUtc.ToRelativeTime(Model.TimeZone)
                            </td>

                            <td>
                                @dto.LastMessage.Message.CreatedUtc.ToRelativeTime(Model.TimeZone)
                            </td>

                            <td>
                                @if (!Model.Archived)
                                {
                                    <form action="/conversations/@dto.Conversation.Id/archive" method="post">
                                        <button type="submit" class="btn btn-icon"
                                                data-bs-toggle="tooltip" data-bs-title="Archive">
                                            @await Html.PartialAsync("Components/_Icon", new IconViewModel(IconType.Archive))
                                        </button>
                                    </form>
                                }
                                else
                                {
                                    <form action="/conversations/@dto.Conversation.Id/restore" method="post">
                                        <button type="submit" class="btn btn-icon"
                                                data-bs-toggle="tooltip" data-bs-title="Restore">
                                            @await Html.PartialAsync("Components/_Icon", new IconViewModel(IconType.Undo))
                                        </button>
                                    </form>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>  
    
    @if (Model.Chapter != null)
    {
        @await Html.PartialAsync("Components/_Modal", new ModalViewModel
        {
            Title = "Start new conversation",
            Id = "new-conversation-modal",
            Body = 
                @<div>
                    <form action="/groups/@Model.Chapter.Id/conversations" method="post">
                        @*@Html.AntiForgeryToken()*@
                        @await Html.PartialAsync("Contact/_ConversationForm", new ConversationFormViewModel())
                        <button class="btn btn-primary">Send</button>
                    </form>
                </div>
        })
    }
}
else
{
    <h2>Start new conversation</h2>
    <section class="section mt-3">
        <form action="/groups/@Model.Chapter.Id/conversations" method="post">
            @*@Html.AntiForgeryToken()*@
            @await Html.PartialAsync("Contact/_ConversationForm", new ConversationFormViewModel())
            <button class="btn btn-primary">Send</button>
        </form>
    </section>
}