@using ODK.Core.Chapters
@using ODK.Services
@using ODK.Services.Payments
@using ODK.Web.Common.Services
@using ODK.Web.Razor.Models
@using ODK.Web.Razor.Models.Chapters.SuperAdmin
@model OdkComponentViewModel<Chapter>
@inject IPaymentAdminService PaymentAdminService
@{
    var serviceRequest = Model.MemberChapterServiceRequest(Model.Value.Id);
    var viewModel = await PaymentAdminService.GetReconciliations(serviceRequest);
}

@if (viewModel.PendingReconciliations.Count > 0)
{
    <section class="section">
        <h2>Pending Payments</h2>
        <div class="table-responsive">
            <table class="table" data-sortable id="pending-reconciliations-table" data-table-striped>
                <thead>
                    <tr>
                        <th data-sortable-sort="default" data-sortable-dir="desc">Date</th>
                        <th>Amount</th>
                        <th>Reconciliation</th>
                        <th>Reference</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var dto in viewModel.PendingReconciliations)
                    {
                        var payment = dto.Payment;

                        if (payment.PaidUtc == null)
                        {
                            continue;
                        }

                        <tr>
                            <td>
                                @payment.PaidUtc.Value.ToString("yyyy-MM-dd HH:mm:ss")
                            </td>
                            <td>
                                @viewModel.PaymentSettings.Currency.ToAmountString(payment.Amount)
                            </td>
                            <td>
                                @viewModel.PaymentSettings.Currency.ToAmountString(payment.PaymentReconciliationAmount ?? 0)
                            </td>
                            <td>
                                @payment.Reference
                            </td>
                            <td>
                                <form action="/@Model.Value.Name/Admin/SuperAdmin/Payments/@payment.Id/Reconciliation-Status" method="post">
                                    <button class="btn btn-danger btn-sm">
                                        Exempt
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>
                            <span class="text-decoration-underline">
                                @viewModel.PaymentSettings.Currency.ToAmountString(viewModel.PendingReconciliationsAmount)
                            </span>
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>  
        
        <div>
            <h4>Create Reconciliation</h4>
            <form action="/@Model.Value.Name/Admin/SuperAdmin/Payments/Reconciliations" method="post">
                @await Html.PartialAsync("Chapters/SuperAdmin/_ReconciliationForm", new ReconciliationFormViewModel
                {
                    PaymentIds = viewModel.PendingReconciliations.Select(x => x.Payment.Id).ToList(),
                    PaymentReference = ""
                })

                <button class="btn btn-primary">
                    Create
                </button>
            </form>
        </div>
    </section>
}

<section class="section">
    <h2>Reconciliations</h2>
    <div class="table-responsive">
        <table class="table" data-sortable id="reconciliations-table" data-table-striped>
            <thead>
                <tr>
                    <th data-sortable-sort="default" data-sortable-dir="desc">Date</th>
                    <th>Reference</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var reconciliation in viewModel.Reconciliations)
                {
                    <tr>
                        <td>
                            @reconciliation.CreatedUtc.ToString("yyyy-MM-dd HH:mm:ss")
                        </td>
                        <td>
                            @reconciliation.PaymentReference
                        </td>
                        <td>
                            @viewModel.PaymentSettings.Currency.ToAmountString(reconciliation.Amount)
                        </td>                    
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>