@using ODK.Core.Pages
@using ODK.Core.Utils
@using ODK.Services.Chapters.ViewModels
@using ODK.Web.Common.Components
@using ODK.Web.Common.Extensions
@using ODK.Web.Common.Routes
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Razor.Models.Header
@model GroupPageViewModel
@inject IHttpContextAccessor HttpContextAccessor
@inject IOdkRoutes OdkRoutes
@{
    var chapterPageDictionary = Model.ChapterPages
        .ToDictionary(x => x.PageType);

    var menuItems = new List<MenuItem>();

    chapterPageDictionary.TryGetValue(PageType.About, out var aboutPage);

    if (aboutPage?.Hidden != true)
    {
        menuItems.Add(new MenuItem 
        { 
            Text = StringUtils.Coalesce(aboutPage?.Title, "About"), 
            Link = OdkRoutes.Groups.Group(Model.Chapter), 
            ActiveIsExactMatch = true 
        });
    }    

    menuItems.Add(new MenuItem { Text = "Events", Link = OdkRoutes.Groups.Events(Model.Chapter) });

    if (Model.IsMember)
    {
        chapterPageDictionary.TryGetValue(PageType.Members, out var membersPage);

        if (membersPage?.Hidden != true)
        {
            menuItems.Add(new MenuItem
            {
                Text = StringUtils.Coalesce(membersPage?.Title, "Members"),
                Link = OdkRoutes.Groups.Members(Model.Chapter)
            });
        }        
    }

    if (Model.HasQuestions)
    {
        menuItems.Add(new MenuItem { Text = "FAQ", Link = OdkRoutes.Groups.Questions(Model.Chapter) });
    }

    chapterPageDictionary.TryGetValue(PageType.Contact, out var contactPage);

    if (contactPage?.Hidden != true)
    {
        menuItems.Add(new MenuItem
        {
            Text = StringUtils.Coalesce(contactPage?.Title, "Contact"),
            Link = OdkRoutes.Groups.Contact(Model.Chapter),
            Active =
               Context.ForPath(OdkRoutes.Groups.Contact(Model.Chapter)) ||
               Context.ForPath(OdkRoutes.Groups.Conversations(Model.Chapter))
        });
    }      

    if (Model.IsMember)
    {
        if (Model.HasProfiles)
        {
            menuItems.Add(new MenuItem
            {
                Text = "My profile",
                Link = OdkRoutes.Groups.Profile(Model.Chapter)
            });
        }        

        menuItems.Add(new MenuItem
        {
            Text = "My subscription",
            Link = OdkRoutes.Groups.Subscription(Model.Chapter)
        });
    }

    if (Model.IsAdmin)
    {
        menuItems.Add(new MenuItem 
        { 
            Text = "Manage", 
            Icon = IconType.Settings, 
            Link = OdkRoutes.GroupAdmin.Group(Model.Chapter)
        });
    }

    var id = "nav-group";
}

<nav class="navbar navbar-expand-sm navbar--group">
    <div class="position-relative container">
        <div class="d-flex">
            <button class="navbar-toggler"
                    type="button" data-bs-toggle="collapse" data-bs-target="#@id"
                    aria-controls="@id" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse me-auto" id="@id">
            <ul class="navbar-nav">
                @foreach (var menuItem in menuItems)
                {
                    var active = menuItem.Active || 
                        HttpContextAccessor.ForPath(menuItem.Link ?? "", exactMatch: menuItem.ActiveIsExactMatch);

                    <li class="nav-item @(menuItem.Hidden ? "invisible" : null) ">
                        <a class="nav-link @(active ? "active" : null)" href="@menuItem.Link">
                            @if (menuItem.Icon != null)
                            {
                                @await Html.PartialAsync("Components/_Icon", new IconViewModel(menuItem.Icon.Value))
                            }
                            @menuItem.Text
                        </a>
                    </li>
                }
            </ul>
        </div>

        @if (!Model.IsMember)
        {
            <a href="@OdkRoutes.Groups.Join(Model.Chapter)" class="btn btn-success">Join</a>
        }
    </div>
</nav>