@using ODK.Web.Common.Components
@using ODK.Web.Common.Extensions
@using ODK.Web.Razor.Models.Admin.Chapters
@using ODK.Web.Razor.Models.Chapters
@using ODK.Web.Razor.Models.Components
@using ODK.Web.Razor.Models.Topics
@model CreateChapterFormViewModel
@{
    var countryOptions = Model.Countries
        .OrderBy(x => x.Name)
        .Select(x => new SelectListItem
        {
            Value = x.Id.ToString(),
            Text = x.Name
        })
        .Prepend(new SelectListItem { Value = "" })
        .ToArray();
}

@await Html.PartialAsync("Components/_Wizard", new WizardViewModel
{
    Pages = new[]
    {
        new WizardPageViewModel
        {
            Title = "Basic details",
            ContentFunc = 
                @<div>
                    <div class="form-group mb-3 required">
                        @Html.LabelFor(x => x.Name, new { @class = "form-label" })
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Name)
                    </div>

                    <div class="form-group mb-3 required">
                        @Html.LabelFor(x => x.Description, new { @class = "form-label" })
                        @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Description)
                    </div>
                </div>
        },
        new WizardPageViewModel
        {
            Title = "Topics",
            ContentFunc = 
                @<div>
                    <div class="form-group mb-3">
                        @Html.LabelFor(x => x.TopicIds, new { @class = "form-label" })
                        @await Html.PartialAsync("Topics/_TopicPicker", new TopicPickerViewModel
                        {
                            Addable = true,
                            TopicIds = Model.TopicIds,
                            TopicGroups = Model.TopicGroups,
                            Topics = Model.Topics
                        })
                        @Html.ValidationMessageFor(x => x.TopicIds)
                    </div>
                </div>
        },
        new WizardPageViewModel
        {
            Title = "Location",
            ContentFunc = 
                @<div>
                    <div class="form-group mb-3 required" data-location-container>
                        @Html.LabelFor(x => x.Location.LocationName, new { @class = "form-label" })
                        <div class="input-group">
                            <span class="input-group-text">
                                <span data-bs-toggle="tooltip" data-bs-title="Location">
                                    @await Html.PartialAsync("Components/_Icon", new IconViewModel(IconType.LocationPin))
                                </span>
                            </span>

                            <div class="dropdown flex-grow-1">
                                @Html.TextBoxFor(x => x.Location.LocationName, new 
                                { 
                                    @class = "form-control", 
                                    data_location = ""
                                })

                                <ul class="dropdown-menu google-places-suggestions" data-location-options></ul>
                            </div>                            
                        </div>
                        @Html.ValidationMessageFor(x => x.Location.LocationName)
                        @Html.HiddenFor(x => x.Location.Lat, new { data_location_lat = "" })
                        @Html.HiddenFor(x => x.Location.Long, new { data_location_long = "" })
                    </div>
                </div>
    },
        new WizardPageViewModel
        {
            Title = "Picture",
            ContentFunc = 
                @<div>
                    @await Html.PartialAsync("Admin/Chapter/_ImageForm", new ChapterImageFormViewModel
                    {
                        Required = true
                    })
                </div>

        },
        new WizardPageViewModel
        {
            Title = "Finish",
            ContentFunc = 
                @<div>                    
                    <p>
                        After you create your group we'll take a quick look and let you know when it's approved.                                 
                    </p>
                    <p>
                        In the meantime you can take a look around and continue setting up your group.
                    </p>
                    <p>
                        Your group won't be visible to others until you publish it.
                    </p>
                    <button type="button" class="btn btn-primary w-100" data-submit="parent">
                        <span>Create group</span>
                        @await Html.PartialAsync("Components/_Icon", new IconViewModel(IconType.Rocket))
                    </button>
                </div>
        }
    }
})