@using ODK.Web.Common.Extensions
@using ODK.Web.Razor.Models.Chapters
@model CreateChapterFormViewModel

<div class="form-group mb-3 required">
    @Html.LabelFor(x => x.Name, new { @class = "form-label" })
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Name)
</div>

<div class="form-group mb-3 required">
    @Html.LabelFor(x => x.Description, new { @class = "form-label" })
    @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Description)
</div>

<div class="form-group mb-3 required" data-location-container>
    @Html.LabelFor(x => x.Location.Name, new { @class = "form-label" })
    <div class="input-group">
        <span class="input-group-text">
            <i class="fa-solid fa-location-dot" data-bs-toggle="tooltip" data-bs-title="Location"></i>
        </span>
        @Html.TextBoxFor(x => x.Location.Name, new { @class = "form-control", data_location = "" })
    </div>
    @Html.ValidationMessageFor(x => x.Location.Name)
    @Html.HiddenFor(x => x.Location.Lat, new { data_location_lat = "" })
    @Html.HiddenFor(x => x.Location.Long, new { data_location_long = "" })
</div>

<div class="form-group mb-3 required">
    @Html.LabelFor(x => x.Location.TimeZoneId, new { @class = "form-label" })
    @Html.OdkTimeZoneDropDownFor(x => x.Location.TimeZoneId, new { @class = "form-select", data_searchable = "" })
    @Html.ValidationMessageFor(x => x.Location.TimeZoneId)
</div>